@font-face {
    font-family: "osu-mode";
    src: url("../../font/extra.ttf") format("truetype")
}

.mode-icon {
    font-family: "osu-mode";
    color: #ffffff;
    height: 50px;
    width: 50px;
    font-style: normal;
}

.mode-osu::before {
    content: "\e800";
    position: relative;
}

.mode-taiko::before {
    content: "\e803";
    position: relative;
}

.mode-fruits::before {
    content: "\e801";
    position: relative;
}

.mode-mania::before {
    content: "\e802";
    position: relative;
}