<% if (loginf && bbcode === null) { %>
    <div class="me-empty">
        <p class="edit-me">Edit me!</p>
        <i class="fa-solid fa-user-pen"></i>
        <p class="description">Express yourself by editing <strong>me!</strong></p>
    </div>
<% } %>
<%= me %>