/* ------------------------------------------------- */
.header {
    background-color: lightgray;
    height: 67px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.logo {
    background-position: center;
    float: left;
    width: 55px;
    margin: 5px 5px 5px 230px;
    transition: 150ms all;
}
.logo:hover {
    margin: 2px 2px 0 228px;
    width: 60px;
}

.menu div {
    font-family: "Tilt Warp";
    font-size: 15px;
    color: black;
    height: 50px;
    padding: 20px 10px;
    margin: 7px 10px;
    transition: 500ms all;
}
.menu div:hover {
    background-color: mediumslateblue;
}

.home {
    margin-left: 10px;
    float: left;
}

.leaderboard {
    float: left;
}

.community {
    float: left;
}

.help {
    float: left;
}

.register {
    margin-right: 250px;
    float: right;
}

.login {
    float: right;
}
/* ------------------------------------------------- */
.banner {
    height: 170px;
    width: 100%;
    object-fit: cover;
    filter: blur(7px);
}