body {
    min-width: 1200px;
}
/* ------------------------------------------------- */
.home-text {
    border-bottom: 3px solid mediumslateblue;
}
/* ------------------------------------------------- */
.banner {
    height: 170px;
    width: 100%;
    object-fit: cover;
    filter: blur(7px);
}
/* ------------------------------------------------- */
.main {
    background-color: midnightblue;
    height: 100vh;
    width: 100%;
}

.welcome-title {
    font-family: "Gloria Hallelujah";
    font-size: 520%;
    color: white;
    text-align: center;
}

.welcome-title h1 .bold {
    font-weight: bold;
}
