<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Documents</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/documents.css">
        <link rel="stylesheet" href="/css/hf-bg/documents.css">
    </head>
    <body>
    <%- include("header") %>
    <img src="/image/banner/documents.png" class="banner">
    <h1 class="pagename">DOCUMENTS</h1>
    <main>
        <img src="/image/logo.png">
        <h1 class="welcome-title">
            Welcome to Mamestagram!
        </h1>
    </main>
    <%- include("footer") %>
    </body>
</html>