<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Documents</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/documents.css">
        <link rel="stylesheet" href="/css/hf-bg/documents.css">
    </head>
    <body>
    <%- include("header") %>
    <img src="/image/banner/documents.png" class="banner">
    <h1 class="pagename">DOCUMENTS</h1>
    <main>
        <img src="/image/logo.png" class="logoimage">
        <h1 class="welcome-title">Welcome to <strong>Mamestagram!</strong></h1>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#rules">Rules</a></li>
            <li><a href="#connection">How to connect</a></li>
            <li><a href="#registration">How to register</a></li>
        </ul>
        <article>
            <section id="about">
                <h1>About</h1>
            </section>
            <section id="rules">
                <h1>Rules</h1>
                <ul>
                    <li>
                        <h2>Welcome to Mamestagram!</h2>
                        <p>Welcome to Mamestagram! The following rules are rules that you must follow when using Mamestagram. We hope you will enjoy your time on the server by following these rules!</p>
                        <p>Both of the following actions will result in <u>an immediate ban</u>.</p>
                    </li>
                    <li>
                        <h2>Prohibited behaviors on the Discord server</h2>
                        <p>・Behavior that causes inconvenience to members (spamming, bot abuse, etc.)</p>
                        <p>・Sending messages that overload members' terminals</p>
                        <p>・Any behavior that is hateful or discriminatory in terms of race, gender, religion, creed, family origin, or homosexuality</p>
                        <p>・Any behavior that is offensive or abusive</p>
                        <p>・Impersonating another user</p>
                        <p>・Distributing cheat engines, etc.</p>
                    </li>
                    <li>
                        <h2>Prohibited acts on osu! Private Server</h2>
                        <p>・Using cheat engines</p>
                        <p>・Spamming in the chat box</p>
                        <p>・Registering with an inappropriate name</p>
                        <p>・Impersonating another user</p>
                        <p>・Actions that cause the server to perform unnecessary calculations</p>
                    </li>
                    <li>
                        <h2>Others</h2>
                        <h3>Reporting, etc.</h3>
                        <p>Please contact us at <a href="https://discordapp.com/users/629882176695042049" target="_blank" rel="noopener noreferrer">@Mamesshhii</a> if you witness any illegal activity.</p>
                        <p>*<u>False reports may result in appropriate penalties.</u></p>
                        <h3>Complaints</h3>
                        <p>Please contact <a href="https://discordapp.com/users/629882176695042049" target="_blank" rel="noopener noreferrer">@Mamesshhii</a> with evidential images/videos.</p>
                    </li>
                </ul>
            </section>
            <section id="connection">
                <h1>How to connect</h1>
                <div class="youtube">
                    <iframe width="800" height="450" src="https://www.youtube.com/embed/CAfovJYSEvw" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <ol>
                    <li>
                        <p>Go to osu! local file</p>
                        <img src="/image/connection/1.png" class="img1">
                    </li>
                    <li>
                        <p>Right-click on "osu!.exe" then click on "Create shortcut"</p>
                        <img src="/image/connection/2.png" class="img2">
                        <img src="/image/connection/3.png" class="img3">
                    </li>
                    <li>
                        <p>Move it to any location (desktop is recommended)</p>
                        <img src="/image/connection/4.png" class="img4">
                    </li>
                    <li>
                        <p>Change to any name (no need to do it)</p>
                        <img src="/image/connection/5.png" class="img5">
                    </li>
                    <li>
                        <p>Right-click on it and click on "Properties"</p>
                        <img src="/image/connection/6.png" class="img6">
                        <img src="/image/connection/7.png" class="img7">
                    </li>
                    <li>
                        <p>Add one space and <span>-devserver mamesosu.net</span> after "...\osu!.exe" in the "Target" field</p>
                        <img src="/image/connection/8.png" class="img8">
                    </li>
                    <li>
                        <p>Click on "Apply" and then "OK" to finish setting</p>
                    </li>
                </ol>
                <p class="conclusion">Now you are connected to mamesosu.net!</p>
            </section>
            <section id="registration">
                <h1>How to register</h1>
                <ol>
                    <li>
                        <p>Open osu! which is connected to mamesosu and Click on "Create an account"</p>
                        <p class="reference">Not connected to mamesosu.net yet? <a href="#connection">How to connect</a></p>

                        <p>If you close the options, Click on the one in the upper left corner to open it</p>

                    </li>
                    <li>
                        <p>Click on "1. I am not (username)"</p>

                    </li>
                    <li>
                        <p>Enter your Username, Email Address and Password then click on "1. Create my account!"</p>

                    </li>
                    <li>
                        <p>If you recieved a message from the bot, you've succeeded!</p>

                    </li>
                </ol>
                <p class="conclusion">Now you have an account! Have fun!</p>
            </section>
        </article>
    </main>
    <%- include("footer") %>
    </body>
</html>