<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Documents</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/documents.css">
        <link rel="stylesheet" href="/css/hf-bg/documents.css">
    </head>
    <body>
    <%- include("header") %>
    <img src="/image/banner/documents.png" class="banner">
    <h1 class="pagename">DOCUMENTS</h1>
    <main>
        <img src="/image/logo.png" class="logoimage">
        <h1 class="welcome-title">Welcome to <strong>Mamestagram!</strong></h1>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#rules">Rules</a></li>
            <li><a href="#connection">How to connect</a></li>
            <li><a href="#registration">How to register</a></li>
        </ul>
        <article>
            <section id="about">
                <h1>・About</h1>
            </section>
            <section id="rules">
                <h1>・Rules</h1>
            </section>
            <section id="connection">
                <h1>・How to connect</h1>
                <div class="youtube">
                    <iframe width="800" height="450" src="https://www.youtube.com/embed/CAfovJYSEvw" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <ol>
                    <li>
                        <p>Go to osu! local file</p>
                        <img src="/image/connection/1.png" class="img1">
                    </li>
                    <li>
                        <p>Right-click on it to create a shortcut to "osu!.exe"</p>
                        <img src="/image/connection/2.png" class="img2">
                        <img src="/image/connection/3.png" class="img3">
                    </li>
                    <li>
                        <p>Move it to any location (desktop is recommended)</p>
                        <img src="/image/connection/4.png" class="img4">
                    </li>
                    <li>
                        <p>Change to any name (no need to do it)</p>
                        <img src="/image/connection/5.png" class="img5">
                    </li>
                    <li>
                        <p>Right-click on it and click on "Properties"</p>
                        <img src="/image/connection/6.png" class="img6">
                        <img src="/image/connection/7.png" class="img7">
                    </li>
                    <li>
                        <p>Add one space and <span>-devserver mamesosu.net</span> after "...\osu!.exe" in the "Target" field</p>
                        <img src="/image/connection/8.png" class="img8">
                    </li>
                    <li>
                        <p>Click on "Apply" and then "OK" to finish setting</p>
                    </li>
                </ol>
                <p class="conclusion">Now you are connected to mamesosu.net! Have fun!</p>
            </section>
            <section id="registration">
                <h1>・How to register</h1>
            </section>
        </article>
    </main>
    <%- include("footer") %>
    </body>
</html>