<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Documents</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/documents.css">
        <style>
            body::-webkit-scrollbar-track {
                background-color: #fdfdfd;
            }
            body::-webkit-scrollbar-thumb {
                background-color: #3d3829;
            }

            header {
                background-color: transparent;
            }

            header .pc .documents {
                color: #fdfdfd;
            }

            .animated {
                background-color: #ac8f39;
            }

            .animated .pc li:hover {
                background-color: #ffd966;
            }

            .animated .pc .documents {
                border-bottom: 3px solid #ffd966;
            }

            @media (max-width: 1232px) {
                header {
                    background-color: #ac8f39;
                }
            }

            .mobile {
                background-color: #2a2822;
            }

            .mobile .documenats {
                background-color: rgba(255, 217, 102, 0.3);
                color: #fdfdfd;
            }

            .mobile .leaderboard span {
                border-left: 3px solid #ffd966;
            }

            .mobile li:hover {
                background-color: rgba(255, 217, 102, 0.3);
            }

            .mobile .register, .mobile .login, .mobile .username {
                background-color: #3d3829;
                color: #d1c27c;
            }
            .mobile .register:hover, .mobile .login:hover, .mobile .username:hover {
                background-color: #3d3829;
            }

            .link-form a {
                background-color: #ac8f39;
            }
            .link-form a:hover {
                background-color: #debc54;
            }
        </style>
    </head>
    <body>
    <%- include("header") %>
    <img src="/image/banner/documents.png" class="banner">
    <h1 class="pagename">DOCUMENTS</h1>
    <main>
        <img src="/image/logo.png" class="logoimage">
        <h1 class="welcome-title">Welcome to <strong>Mamestagram!</strong></h1>
        <div class="eng">
            <h2 class="subtitle">This is an osu private server operated by Mamestagram</h2>
            <div class="language">
                <button class="en">EN</button>
                <button class="jp">JP</button>
            </div>
            <ul class="menu">
                <li><a href="#about">About</a></li>
                <li><a href="#rules">Rules</a></li>
                <li><a href="#connection">How to connect</a></li>
                <li><a href="#registration">How to register</a></li>
            </ul>
            <article>
                <section id="about">
                    <h1>About</h1>
                    <div class="overview">
                        <h2>Overview</h2>
                        <p>This private server shows scores by mode, which are not ranked in the official servers such as Relax and AutoPilot.</p>
                        <p>You can also rank and score within the server. Let's try to get server #1!</p>
                    </div>
                    <ul class="features">
                        <li>
                            <h2>Introduction of features (mainly Discord) <a href="/discord" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-link link"></i>Discord server</a></h2>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1081737936401350717" target="_blank" rel="noopener noreferrer">
                                    # status
                                </a>
                            </h3>
                            <p>In this channel, when someone passes a map or takes first place on a map in MamesOsu, their score and status are automatically sent.</p>
                            <img src="/image/documents/about/1.png">
                        </li>
                        <li>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1104675564763222016" target="_blank" rel="noopener noreferrer">
                                    # pp-record
                                </a>
                            </h3>
                            <p>This channel shows pp records in 6 different modes: osu!std, osu!taiko, osu!catch, osu!mania, osu!rx (std) and osu!ap, respectively.</p>
                            <p>We encourage you to try the pp record!</p>
                            <img src="/image/documents/about/2.png">
                        </li>
                        <li>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1093845482247307276" target="_blank" rel="noopener noreferrer">
                                    # map-request
                                </a>
                            </h3>
                            <p>This channel allows you to apply for maps that are not Ranked or Loved in bancho to be Ranked or Loved.</p>
                            <p>
                                The submitted maps will be reviewed by testers and those that pass the review will be notified to
                                <a href="https://discord.com/channels/944248031136587796/1095604533591298140" target="_blank" rel="noopener noreferrer">
                                    # ranked-notice
                                </a>
                                .
                            </p>
                            <p>Your favorite map could be Ranked or Loved!</p>
                            <img src="/image/documents/about/3.png">
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1093845482247307276" target="_blank" rel="noopener noreferrer">
                                    # map-request
                                </a>
                            </h4>
                            <img src="/image/documents/about/4.png">
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1095604533591298140" target="_blank" rel="noopener noreferrer">
                                    # ranked-notice
                                </a>
                            </h4>
                        </li>
                    </ul>
                    <p class="others">Mamestagram has many more features, <br>so please join us and experience them for yourself!</p>
                </section>
                <section id="rules">
                    <h1>Rules</h1>
                    <ul>
                        <li>
                            <h2>Welcome to Mamestagram!</h2>
                            <p>Welcome to Mamestagram! The following rules are rules that you must follow when using Mamestagram. We hope you will enjoy your time on the server by following these rules!</p>
                            <p>Both of the following actions will result in <u>an immediate ban</u>.</p>
                        </li>
                        <li>
                            <h2>Prohibited behaviors on the Discord server</h2>
                            <p>・Behavior that causes inconvenience to members (spamming, bot abuse, etc.)</p>
                            <p>・Sending messages that overload members' terminals</p>
                            <p>・Any behavior that is hateful or discriminatory in terms of race, gender, religion, creed, family origin, or homosexuality</p>
                            <p>・Any behavior that is offensive or abusive</p>
                            <p>・Impersonating another user</p>
                            <p>・Distributing cheat engines, etc.</p>
                        </li>
                        <li>
                            <h2>Prohibited acts on osu! Private Server</h2>
                            <p>・Using cheat engines</p>
                            <p>・Spamming in the chat box</p>
                            <p>・Registering with an inappropriate name</p>
                            <p>・Impersonating another user</p>
                            <p>・Actions that cause the server to perform unnecessary calculations</p>
                        </li>
                        <li>
                            <h2>Others</h2>
                            <h3>Reporting, etc.</h3>
                            <p>Please contact us at <a href="https://discordapp.com/users/629882176695042049" target="_blank" rel="noopener noreferrer">@Mamesshhii</a> if you witness any illegal activity.</p>
                            <p>*<u>False reports may result in appropriate penalties.</u></p>
                        </li>
                        <li>
                            <h3>Complaints</h3>
                            <p>Please contact <a href="https://discordapp.com/users/629882176695042049" target="_blank" rel="noopener noreferrer">@Mamesshhii</a> with evidential images / videos.</p>
                        </li>
                    </ul>
                </section>
                <section id="connection">
                    <h1>How to connect</h1>
                    <div class="youtube">
                        <iframe src="https://www.youtube.com/embed/CAfovJYSEvw" title="How to connect" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <ol>
                        <li>
                            <p>Go to osu! local file</p>
                            <img src="/image/documents/connection/1.png" class="img1">
                        </li>
                        <li>
                            <p>Right-click on "osu!.exe" then click on "Create shortcut"</p>
                            <img src="/image/documents/connection/2.png" class="img2">
                            <img src="/image/documents/connection/3.png" class="img3">
                        </li>
                        <li>
                            <p>Move it to any location (desktop is recommended)</p>
                            <img src="/image/documents/connection/4.png" class="img4">
                        </li>
                        <li>
                            <p>Change to any name (no need to do it)</p>
                            <img src="/image/documents/connection/5.png" class="img5">
                        </li>
                        <li>
                            <p>Right-click on it and click on "Properties"</p>
                            <img src="/image/documents/connection/6.png" class="img6">
                            <img src="/image/documents/connection/7.png" class="img7">
                        </li>
                        <li>
                            <p>Add one space and <span>-devserver mamesosu.net</span> after "...\osu!.exe" in the "Target" field</p>
                            <img src="/image/documents/connection/8.png" class="img8">
                        </li>
                        <li>
                            <p>Click on "Apply" and then "OK" to finish setting</p>
                        </li>
                    </ol>
                    <p class="conclusion">Now you are connected to mamesosu.net!</p>
                </section>
                <section id="registration">
                    <h1>How to register</h1>
                    <ol>
                        <li>
                            <p>Click on "Register" in the upper right corner</p>
                            <img src="/image/documents/registration/1.png" class="img1">
                            <img src="/image/documents/registration/2.png" class="img2">
                        </li>
                        <li>
                            <p>Enter your Username, Email Address, and Password, then click on "Register"</p>
                            <img src="/image/documents/registration/3.png" class="img3">
                        </li>
                        <li>
                            <p>If you're back on the home page, you've succeeded</p>
                        </li>
                    </ol>
                    <p class="conclusion">Now you have your own account! Have fun!</p>
                </section>
            </article>
            <a href="#" class="top">Return to<br>top</a>
        </div>
        <div class="jpn">
            <h2 class="subtitle">Mamestagramが運営するosuプライベートサーバーです</h2>
            <div class="language">
                <button class="en">EN</button>
                <button class="jp">JP</button>
            </div>
            <ul class="menu">
                <li><a href="#about">本サーバーについて</a></li>
                <li><a href="#rules">ルール</a></li>
                <li><a href="#connection">接続方法</a></li>
                <li><a href="#registration">アカウント作成方法</a></li>
            </ul>
            <article>
                <section id="about">
                    <h1>本サーバーについて</h1>
                    <div class="overview">
                        <h2>概要</h2>
                        <p>このサーバーではRelaxやAutoPilotなどの公式サーバーではランク付けされないスコアもモード別で表示されます。</p>
                        <p>ランクやスコアもそのサーバー内で付けられます。 是非、このサーバーで1位を目指してみましょう！</p>
                    </div>
                    <ul class="features">
                        <li>
                            <h2>機能紹介 (主にDiscord) <a href="/discord" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-link link"></i>Discordサーバー</a></h2>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1081737936401350717" target="_blank" rel="noopener noreferrer">
                                    # status
                                </a>
                            </h3>
                            <p>このチャンネルでは、誰かがマップをパスしたときあるいはマップで1位を取ったときのスコアやステータスが自動送信されます。</p>
                            <img src="/image/documents/about/1.png">
                        </li>
                        <li>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1104675564763222016" target="_blank" rel="noopener noreferrer">
                                    # pp-record
                                </a>
                            </h3>
                            <p>このチャンネルでは、osu!std, osu!taiko, osu!catch, osu!mania, osu!rx (std), osu!apのそれぞれ6つのモードのppレコードが表示されています。</p>
                            <p>是非、ppレコードに挑戦してみましょう！</p>
                            <img src="/image/documents/about/2.png">
                        </li>
                        <li>
                            <h3>
                                <a href="https://discord.com/channels/944248031136587796/1093845482247307276" target="_blank" rel="noopener noreferrer">
                                    # map-request
                                </a>
                            </h3>
                            <p>このチャンネルでは、banchoでRankedやLovedにされていないマップをRankedやLovedに申請することができます。</p>
                            <p>
                                申請されたマップはテスターによって審査され、審査が通り次第、
                                <a href="https://discord.com/channels/944248031136587796/1095604533591298140" target="_blank" rel="noopener noreferrer">
                                    # ranked-notice
                                </a>
                                に通知されます。
                            </p>
                            <p>あなたの好きなマップがRankedやLovedになるかもしれません！</p>
                            <img src="/image/documents/about/3.png">
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1093845482247307276" target="_blank" rel="noopener noreferrer">
                                    # map-request
                                </a>
                            </h4>
                            <img src="/image/documents/about/4.png">
                            <h4>
                                <a href="https://discord.com/channels/944248031136587796/1095604533591298140" target="_blank" rel="noopener noreferrer">
                                    # ranked-notice
                                </a>
                            </h4>
                        </li>
                    </ul>
                    <p class="others">Mamestagramには他にもたくさんの機能があるので是非ご参加いただき、<br>それらを体験していってください！</p>
                </section>
                <section id="rules">
                    <h1>ルール</h1>
                    <ul>
                        <li>
                            <h2>Welcome to Mamestagram!</h2>
                            <p>Mamestagramへようこそ！以下のルールはMamestagramを利用するにあたって必ず守っていただきたいルールになります。以下のルールを守り、楽しいサーバーライフを送っていただけると幸いです！</p>
                            <p>以下の行為はいずれも<u>即BAN</u>の処分となります。</p>
                        </li>
                        <li>
                            <h2>Discordサーバーでの禁止行為</h2>
                            <p>・メンバーへの迷惑をかける行為(スパム等やBotの悪用等)</p>
                            <p>・メンバーの端末へ負荷をかけるようなメッセージを送信する行為</p>
                            <p>・差別用語の使用、人種、性別、宗教、信条、門地、同性愛の嫌悪や差別に値するあらゆる行為</p>
                            <p>・節度を超えた暴言を発言する行為</p>
                            <p>・他ユーザーになりすます行為</p>
                            <p>・チートエンジンなどを配布する行為</p>
                        </li>
                        <li>
                            <h2>osu! Private Serverでの禁止行為</h2>
                            <p>・チートエンジンを使用したプレイ</p>
                            <p>・チャット欄でのスパム行為</p>
                            <p>・不適切な名前で登録する行為</p>
                            <p>・他ユーザーになりすますなどの行為</p>
                            <p>・サーバーに対して、不必要な計算を行わせるような行為</p>
                        </li>
                        <li>
                            <h2>その他</h2>
                            <h3>申告等について</h3>
                            <p>不正行為を目撃した場合は、<a href="https://discordapp.com/users/629882176695042049" target="_blank" rel="noopener noreferrer">@Mamesshhii</a>までご連絡ください。</p>
                            <p><u>※虚偽の報告の場合は相応の処罰が課せられる場合があります。</u></p>
                        </li>
                        <li>
                            <h3>異議申し立て</h3>
                            <p>証拠画像 / 映像と共に<a href="https://discordapp.com/users/629882176695042049" target="_blank" rel="noopener noreferrer">@Mamesshhii</a>のDMまでご連絡ください。</p>
                        </li>
                    </ul>
                </section>
                <section id="connection">
                    <h1>接続方法</h1>
                    <div class="youtube">
                        <iframe src="https://www.youtube.com/embed/CAfovJYSEvw" title="How to connect" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <ol>
                        <li>
                            <p>osu!のローカルファイルを開きます</p>
                            <img src="/image/documents/connection/1.png" class="img1">
                        </li>
                        <li>
                            <p>右クリックをして「ショートカットの作成」をクリックします</p>
                            <img src="/image/documents/connection/2.png" class="img2">
                            <img src="/image/documents/connection/3.png" class="img3">
                        </li>
                        <li>
                            <p>好きな場所に移動させます(デスクトップ推奨)</p>
                            <img src="/image/documents/connection/4.png" class="img4">
                        </li>
                        <li>
                            <p>好きな名前に変更します(変更の必要はありません)</p>
                            <img src="/image/documents/connection/5.png" class="img5">
                        </li>
                        <li>
                            <p>右クリックをして「プロパティ」をクリックします</p>
                            <img src="/image/documents/connection/6.png" class="img6">
                            <img src="/image/documents/connection/7.png" class="img7">
                        </li>
                        <li>
                            <p>「リンク先」欄の「...\osu.exe」の後にスペースを入れ、<span>-devserver mamesosu.net</span>を付け加えます</p>
                            <img src="/image/documents/connection/8.png" class="img8">
                        </li>
                        <li>
                            <p>「適用」をクリックし「OK」を押して設定を終えます</p>
                        </li>
                    </ol>
                    <p class="conclusion">これでmamesosu.netに接続完了です！</p>
                </section>
                <section id="registration">
                    <h1>アカウント作成方法</h1>
                    <ol>
                        <li>
                            <p>右上にある「Register」をクリックします</p>
                            <img src="/image/documents/registration/1.png" class="img1">
                            <img src="/image/documents/registration/2.png" class="img2">
                        </li>
                        <li>
                            <p>ユーザーネーム、Eメール、パスワードを入力し、「Register」をクリックします</p>
                            <img src="/image/documents/registration/3.png" class="img3">
                        </li>
                        <li>
                            <p>ホームページに戻っていたら成功です</p>
                        </li>
                    </ol>
                    <p class="conclusion">これでアカウントを作ることができました！楽しんでください！</p>
                </section>
            </article>
            <a href="#" class="top">トップに戻る</a>
        </div>
    </main>
    <%- include("footer") %>
    <script src="/jquery/documents.js"></script>
    </body>
</html>