<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Fonts Preview</title>
        <link rel="stylesheet" href="/css/font.css">
        <style>
            body {
                font-size: 26px;
            }
        </style>
    </head>
    <body>
    <div style="font-family: 'Tilt Warp'">
        ・Tilt Warp<br>
        English にほんご<br>
    </div>
    <div style="font-family: 'けいふぉんと'">
        ・けいふぉんと<br>
        English にほんご<br>
    </div>
    <div style="font-family: 'Gloria Hallelujah'">
        ・Gloria Hallelujah<br>
        English にほんご<br>
    </div>
    <div style="font-family: 'SecularOne'">
        ・SecularOne<br>
        English にほんご<br>
    </div>
    <div style="font-family: 'Caveat'">
        ・Caveat<br>
        English にほんご<br>
    </div>
    <div style="font-family: 'Righteous'">
        ・Righteous<br>
        English にほんご<br>
    </div>
    <div style="font-family: 'Ubuntu'">
        ・Ubuntu<br>
        English にほんご<br>
    </div>
    <div style="font-family: 'MochiyPopOne'">
        ・MochiyPopOne<br>
        English にほんご<br>
    </div>
    <div style="font-family: 'RobotoMono'">
        ・RobotoMono<br>
        English にほんご<br>
    </div>
    </body>
</html>