<footer>
    <h1>
        &copy; 2023 - 2025 Mamestagram
        <a title="YouTube" href="https://www.youtube.com/@Mamestagram" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a title="GitHub" href="https://github.com/Mamestagram" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
        </a>
        , designed by basshhii0610
        <a title="X" href="https://twitter.com/basshhii_0610" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a title="Discord" href="https://discord.com/channels/@me/945313821646536734" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-discord"></i>
        </a>
        and Garushisu
        <a title="X" href="https://twitter.com/garushisu" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a title="Discord" href="https://discord.com/channels/@me/490097758288609291" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-discord"></i>
        </a>
    </h1>
</footer>
