<header class="standard">
    <a href="/home"><img src="/image/logo.png" class="logo"></a>
    <h1 class="title"><%= pageTitle %></h1>
    <ul class="menu">
        <li class="beatmaps"><a href="/home"><div class="beatmaps-text">Home</div></a></li>
        <li class="leaderboard"><a href="/leaderboard/mode=std/special=none"><div class = "leaderboard-text">Leaderboard</div></a></li>
            <li class="documents"><a href="/documents/en#"><div class="documents-text">Documents</div></a></li>   
           <li class="community"><a href="/community" target="_blank" rel="noopener noreferrer"><div class = "community-text">Discord</div></a></li>
           <% if (locals.loginf === true) { %>
            <li class="playername"><button class="login-text"><%= locals.username %></button></li>
        <% } else { %>
            <li class="login">
                <button class="login-text"><a href="/login">Sign in</a></button>
            </li>
            <li class="register">
                <button class="register-text"><a href="/register">Register</a></button>
            </li>
        <% } %>
    </ul>
    <i class="fa-solid fa-chevron-down arrow down"></i>
    <i class="fa-solid fa-chevron-up arrow up"></i>
</header>
<header class="mobile">
    <ul class="menu">
        <% if (locals.loginf === true) { %>
            <li class="playername"><button class="login-text"><%= locals.username %></button></li>
        <% } else { %>
            <li class="login">
                <a href="/login"><button class="login-text">Sign in</button></a>
            </li>
        <% } %>
        <li class="beatmaps"><span class="border"></span><a href="/home"><div class="beatmaps-text">Home</div></a></li>
        <li class="leaderboard"><span class="border"></span><a href="/leaderboard/mode=std/special=none"><div class="leaderboard-text">Leaderboard</div></a></li>
        <li class="community"><span class="border"></span><a href="/community" target="_blank" rel="noopener noreferrer"><div class="community-text">Community</div></a></li>
        <li class="documents"><span class="border"></span><a href="/documents/en#"><div class="documents-text">Documents</div></a></li>
    </ul>
</header>
<% if (locals.loginf === true) { %>
    <div class="link-form">
        <a href="/profile/id=<%= locals.userid %>/mode=std/special=none/bestpp=1&mostplays=1&recentplays=1">
            My Profile
        </a>
        <a href="/logout">Sign out</a>
    </div>
<% } %>
<% if (locals.failed === true) { %>
    <script>
        $(".login-form, .link-form").addClass("show").show();
    </script>
<% } %>
