<div class = "header">
    <a href = "/home"><img src = "/image/logo.png" class = "logo"></a>
    <ul class = "menu">
        <li class = "home"><a href = "/home"><div class = "home-text">Home</div></a></li>
        <li class = "leaderboard"><a href = "/leaderboard/mode=std/special=none"><div class = "leaderboard-text">Leaderboard</div></a></li>
        <li class = "community"><a href = "https://discord.com/invite/q5ptEFraw5" target = "_blank" rel = "noopener noreferrer"><div class = "community-text">Community</div></a></li>
        <li class = "help"><a href = "/help"><div class = "help-text">Help</div></a></li>
        <li class = "register"><a href = "/register"><div class = "register-text">Register</div></a></li>
        <li class = "login"><a href = "/login"><div class = "login-text">Login</div></a></li>
    </ul>
</div>