<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Help</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/help.css">
        <link rel="stylesheet" href="/css/hf-bg/help.css">
    </head>
    <body>
    <%- include("header") %>
    <img src="/image/banner/help.png" class = "banner">
    <main>
        <h1>準備中...</h1>
    </main>
    <%- include("footer") %>
    </body>
</html>