<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Dashboard | Mamestagram</title>
        <%- include("link") %>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/hf-bg/home.css">
    </head>
    <body>
    <%- include("header") %>
    <img src="/image/banner/top.jpg" class="banner">
    <h1 class="pagename">HOME PAGE</h1>
    <main>
        <div class="welcome-title">
            <h1>Welcome<br>to<br><strong>Mamestagram!</strong></h1>
        </div>
    </main>
    <%- include("footer") %>
    </body>
</html>