<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset = "utf-8">
    <title>Register</title>
    <%- include("link") %>
    <link rel = "stylesheet" href = "/css/register.css">
</head>
<body>
    <%- include("header") %>
    <div class = "main">
        <h1>準備中...</h1>
    </div>
</body>
</html>