<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset = "utf-8">
    <title>MamesOsu</title>
    <%- include("link") %>
    <link rel = "stylesheet" href = "/css/top.css">
</head>
<body>
<%- include("header") %>
<img src = "/image/banner.gif" class = "banner">
<div class = "main">
    <div class = "welcome-title">
        <h1>Welcome<br>to<br><span class = "bold">Mamestagram!</span></h1>
    </div>
</div>
</body>
</html>