<!DOCTYPE html>
<html lang = "ja">
    <head>
        <title>MamesOsu</title>
        <%- include("link") %>
        <link rel = "stylesheet" href = "/css/top.css">
        <link rel = "stylesheet" href = "/css/hf-bg/top.css">
    </head>
    <body>
    <%- include("header") %>
    <img src = "/image/banner/top.png" class = "banner">
    <div class = "main">
        <div class = "welcome-title">
            <h1>Welcome<br>to<br><span class = "bold">Mamestagram!</span></h1>
        </div>
    </div>
    <%- include("footer") %>
    </body>
</html>