body {
    min-width: 1280px;
}
/* ------------------------------------------------- */
.main {
    font-family: "Righteous";
    background-color: #171a1c;
    min-height: 100vh;
    height: 100%;
}
/* ------------------------------------------------- */
.map-info {
    background-color: #2e3538;
    width: 73%;
    margin-left: 12.8%;
    border-radius: 10px;
}

.map-info .title {
    color: #fdfdfd;
    font-size: 24px;
    margin: 5px;
}

.map-info .mapbg {
    width: 100%;
    filter: blur(3px);
}