.pagename {
    position: absolute;
    top: 170px;
    left: 230px;
    color: #fdfdfd;
    font-family: "Caveat";
    font-size: 68px;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
}

main {
    background-color: #1c1b17;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

main h1 {
    color: #fdfdfd;
    font-family: "けいふぉんと";
    font-size: 84px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

@media(max-width: 1148px) {
    .pagename {
        display: none;
    }
}