main {
    font-family: "SecularOne", "MochiyPopOne";
    background-color: #1c1c1c;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
/* ------------------------------------------------- */