main {
    background-color: #1c1917;
    padding-top: 100px;
    padding-bottom: 140px;
}

.clan {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.clan li {
    color: #fdfdfd;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    margin: 0 30px;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
    transition: filter 150ms, opacity 150ms;
}
.clan li:hover {
    filter: invert(0%);
    opacity: 1;
}

.clan li a {
    display: block;
}

.clan li:hover .tooltip {
    bottom: 100%;
    visibility: visible;
    opacity: 1;
}

.clan li .tooltip {
    line-height: 10px;
    width: auto;
    position: absolute;
    left: 50%;
    bottom: 80%;
    transform: translateX(-50%);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 10px;
    background-color: #17171c;
    font-size: 14px;
    color: #fff;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: bottom 300ms, visibility 300ms, opacity 300ms;
}

.box {
    background-color: #333333;
    font-size: 18px;
    width: 500px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 90;
    text-align: center;
}

.box .title {
    background-color: #ac6039;
    color: #fdfdfd;
    font-size: 28px;
    font-weight: bold;
    padding: 30px 0;
    border-radius: 10px 10px 0 0;
}

.rename .username {
    margin: 20px auto;
}

.box .username span, .box .image span {
    display: block;
    color: #fdfdfd;
    padding: 20px 0;
    text-align: center;
}

.box .errmsg {
    font-size: 14px;
}

.rename .username input {
    background-color: #222222;
    caret-color: #fdfdfd;
    color: #8b8b8b;
    font-size: 16px;
    width: 410px;
    padding: 12px 40px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    outline: none;
}

.rename .checkbox {
    margin: 0 auto;
    color: #8b8b8b;
    font-size: 16px;
}

.rename .checkbox input {
    accent-color: #222222;
    height: 16px;
    width: 16px;
    border-radius: 5px;
}

.box .btn {
    background-color: #ac6039;
    color: #fdfdfd;
    width: 105px;
    margin: 20px auto;
    transition: 100ms;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.box .btn:hover {
    background-color: #ff9966;
}

.box .btn input {
    height: 36px;
    line-height: 36px;
}

.box .btn i {
    padding-left: 5px;
}

.box .reset {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    width: 75px;
    margin: 0 10px 0 auto;
    cursor: pointer;
}

.box .reset i {
    padding-left: 0;
}

.box .image {
    padding: 20px 0;
    margin: 0 auto;
}

.box .image input {
    padding: 12px 0;
}

.box .image canvas {
    max-width: 400px;
    max-height: 400px;
}

.box .image .description {
    font-size: 14px;
}

.box.avatar .image .set-badge {
    display: flex;
    width: 460px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.box.avatar .image .set-badge::-webkit-scrollbar {
    height: 8px;
}
.box.avatar .image .set-badge::-webkit-scrollbar-track {
    background-color: #fdfdfd;
}
.box.avatar .image .set-badge::-webkit-scrollbar-thumb {
    background-color: #3d3029;
    border-radius: 2px;
}

.box.avatar .image .set-badge a {
    height: 38px;
    width: 38px;
    margin: 4px;
}

.box.avatar .image .set-badge .gacha-badge img {
    height: 38px;
    width: 38px;
    filter: grayscale(100%);
    object-fit: scale-down;
    opacity: 0.5;
    transition: filter 150ms, opacity 150ms;
}
.avatar .image .set-badge .gacha-badge:hover img {
    filter: grayscale(0%);
    opacity: 1;
}

.box.avatar .image .set-badge .none i {
    color: lightgray;
    font-size: 28px;
    height: 38px;
    line-height: 42px;
    width: 38px;
    opacity: 0.5;
    transition: color 150ms, opacity 150ms;
}
.box.avatar .image .set-badge .none:hover i {
    color: red;
    opacity: 1;
}

.box.avatar .image .set-badge .mystery {
    position: relative;
    height: 36px;
    width: 42px;
    margin: 5px 2px;
}

.box.avatar .image .set-badge .mystery i {
    height: 36px;
    width: 42px;
}

.box.avatar .image .set-badge .mystery .fa-block-question::before {
    background: #838383;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "\e3dd";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    height: 40px;
    line-height: 40px;
    width: 46px;
    z-index: 1;
    transition: background 150ms;
}
.box.avatar .image .set-badge .mystery:hover .fa-block-question::before {
    background: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box.avatar .image .set-badge .mystery .epic::before {
    background: #838383;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "\e004";
    position: absolute;
    top: 0;
    left: 6px;
    font-size: 36px;
    height: 40px;
    line-height: 40px;
    width: 46px;
    z-index: 1;
    transition: background 150ms;
}
.box.avatar .image .set-badge .mystery:hover .epic::before {
    background: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box.avatar .image .set-badge .mystery .common::after {
    background: linear-gradient(to right, #2ded2d, #61f161, #a0f0a0, #d8f8d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "\e3dd";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    height: 40px;
    line-height: 40px;
    width: 46px;
    z-index: 0;
    opacity: 0;
    transition: opacity 150ms;
}
.box.avatar .image .set-badge .mystery:hover .common::after {
    opacity: 1;
}

.box.avatar .image .set-badge .mystery .rare::after {
    background: linear-gradient(to right, #691883, #b148d2, #e79aff, #f3ccff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "\e3dd";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    height: 40px;
    line-height: 40px;
    width: 46px;
    z-index: 0;
    opacity: 0;
    transition: opacity 150ms;
}
.box.avatar .image .set-badge .mystery:hover .rare::after {
    opacity: 1;
}

.box.avatar .image .set-badge .mystery .epic::after {
    background: linear-gradient(to right, #8b5a00, #caa21f, #feeb69, #fffbea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    content: "\e004";
    position: absolute;
    top: 0;
    left: 6px;
    font-size: 36px;
    height: 40px;
    line-height: 40px;
    width: 46px;
    z-index: 0;
    opacity: 0;
    transition: opacity 150ms;
}
.box.avatar .image .set-badge .mystery:hover .epic::after {
    opacity: 1;
}

.reset-form {
    height: 0;
}

.reset-button {
    position: relative;
    bottom: 76px;
    left: 170px;
}

@media(max-width: 767px) {
    body {
        min-width: 348px;
    }

    main {
        padding-top: 40px;
    }

    .clan li {
        font-size: 30px;
    }

    .box {
        font-size: 16px;
        width: 340px;
    }

    .box .title {
        font-size: 24px;
        padding: 20px 0;
    }

    .box .errmsg {
        font-size: 14px;
    }

    .rename .username input {
        font-size: 14px;
        width: 295px;
        padding: 10px 20px;
    }

    .box .image canvas {
        max-width: 300px;
        max-height: 300px;
    }

    .box.avatar .image .set-badge {
        width: 324px;
    }

    .box.avatar .image .set-badge a {
        height: 30px;
        width: 30px;
        margin: 3px;
    }
    
    .box.avatar .image .set-badge .gacha-badge img {
        height: 30px;
        width: 30px;
    }
    
    .box.avatar .image .set-badge .none i {
        font-size: 24px;
        height: 30px;
        line-height: 30px;
        width: 30px;
    }

    .box.avatar .image .set-badge .mystery {
        height: 30px;
        width: 36px;
        margin: 3px 0;
    }
    
    .box.avatar .image .set-badge .mystery i {
        height: 30px;
        width: 36px;
    }
    
    .box.avatar .image .set-badge .mystery .fa-block-question::before {
        font-size: 28px;
        height: 30px;
        line-height: 30px;
        width: 36px;
    }
    
    .box.avatar .image .set-badge .mystery .epic::before {
        font-size: 28px;
        height: 30px;
        line-height: 30px;
        width: 36px;
    }
    
    .box.avatar .image .set-badge .mystery .common::after {
        font-size: 28px;
        height: 30px;
        line-height: 30px;
        width: 36px;
    }
    
    .box.avatar .image .set-badge .mystery .rare::after {
        font-size: 28px;
        height: 30px;
        line-height: 30px;
        width: 36px;
    }
    
    .box.avatar .image .set-badge .mystery .epic::after {
        font-size: 28px;
        height: 30px;
        line-height: 30px;
        width: 36px;
    }
}