main {
    background-color: #1c1917;
    min-height: 100vh;
    height: 100%;
    padding-top: 140px;
    padding-bottom: 140px;
}

.box {
    background-color: #333333;
    font-size: 18px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 90;
    text-align: center;
}

.box .title {
    background-color: #ac6039;
    font-family: "Righteous";
    color: #fdfdfd;
    font-size: 28px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    padding: 30px 200px;
}

.rename .username {
    font-family: "Tilt Warp", "MochiyPopOne";
    padding: 20px 40px;
}

.box .username span {
    display: flex;
    color: #fdfdfd;
    padding: 20px 0;
    justify-content: center;
}

.box .errmsg {
    color: red;
    font-size: 14px;
}

.rename .username input {
    background-color: #222222;
    caret-color: #fdfdfd;
    color: #8b8b8b;
    font-size: 16px;
    width: 410px;
    padding: 12px 40px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    outline: none;
}

.box button {
    background-color: #ac6039;
    font-family: "Tilt Warp";
    color: #fdfdfd;
    width: 90px;
    padding: 8px 0;
    margin: 20px 210px;
    transition: 100ms;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.box button:hover {
    background-color: #ff9966;
}

.avatar .title {
    padding: 30px 100px;
}

.avatar .image {
    font-family: "Tilt Warp", "MochiyPopOne";
    padding: 20px 0;
    margin: 0 auto;
}

.avatar .image input {
    padding: 12px 0;
}

.avatar ,image canvas {
    max-width: 400px;
    max-height: 400px;
}

.avatar button {
    width: 105px;
}

.avatar button i {
    padding-left: 5px;
}

@media(max-width: 767px) {
    body {
        min-width: 348px;
    }

    main {
        padding-top: 40px;
    }

    .box {
        font-size: 16px;
        width: 340px;
    }

    .box .title {
        font-size: 26px;
        padding: 20px 125px;
    }

    .box .username, .password {
        padding: 10px 20px;
    }

    .box .errmsg {
        font-size: 14px;
    }

    .rename .username input {
        font-size: 14px;
        width: 295px;
        padding: 10px 20px;
    }

    .box button {
        margin: 30px 125px;
    }
}