main {
    background-color: #1c1917;
    padding-top: 140px;
    padding-bottom: 140px;
}

.box {
    background-color: #333333;
    font-size: 18px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 90;
    text-align: center;
}

.box .title {
    background-color: #ac6039;
    color: #fdfdfd;
    font-size: 28px;
    font-weight: bold;
    padding: 30px 0;
    border-radius: 10px 10px 0 0;
}

.rename .username {
    margin: 20px auto;
}

.box .username span, .box .image span {
    display: block;
    color: #fdfdfd;
    padding: 20px 0;
    text-align: center;
}

.box .errmsg {
    font-size: 14px;
}

.rename .username input {
    background-color: #222222;
    caret-color: #fdfdfd;
    color: #8b8b8b;
    font-size: 16px;
    width: 410px;
    padding: 12px 40px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    outline: none;
}

.rename .checkbox {
    margin: 0 auto;
    color: #8b8b8b;
    font-size: 16px;
}

.rename .checkbox input {
    accent-color: #222222;
    height: 16px;
    width: 16px;
    border-radius: 5px;
}

.box button {
    background-color: #ac6039;
    color: #fdfdfd;
    width: 90px;
    margin: 20px auto;
    transition: 100ms;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.box button:hover {
    background-color: #ff9966;
}

.box button input {
    height: 36px;
    line-height: 36px;
}

.box .image {
    padding: 20px 0;
    margin: 0 auto;
}

.box .image input {
    padding: 12px 0;
}

.box .image canvas {
    max-width: 400px;
    max-height: 400px;
}

.avatar button, .banner-img button, .bgimage button {
    width: 105px;
}

.avatar button i, .banner-img button i, .bgimage button i {
    padding-left: 5px;
}

@media(max-width: 767px) {
    body {
        min-width: 348px;
    }

    main {
        padding-top: 40px;
    }

    .box {
        font-size: 16px;
        width: 340px;
    }

    .box .title {
        font-size: 24px;
        padding: 20px 0;
    }

    .box .errmsg {
        font-size: 14px;
    }

    .rename .username input {
        font-size: 14px;
        width: 295px;
        padding: 10px 20px;
    }

    .box .image canvas {
        max-width: 300px;
        max-height: 300px;
    }

    .box button {
        margin: 30px 125px;
    }
}