@font-face {
    font-family: "Gloria Hallelujah";
    src: url("../font/GloriaHallelujah-Regular.ttf") format("truetype");
}

/* arabic */
@font-face {
    font-family: "Noto_Sans";
    src: url("../font/Noto_Sans/NotoSans-Regular.ttf") format("truetype"), /* english */
    url("../font/Noto_Sans/NotoSansTC-Regular.ttf") format("truetype"), /* chinese */
    url("../font/Noto_Sans/NotoSansArabic-Regular.ttf") format("truetype"), /* arabic */
    url("../font/Noto_Sans/NotoSansJP-Regular.ttf") format("truetype"), /* japanese */
    url("../font/Noto_Sans/NotoSansKR-Regular.ttf") format("truetype"), /* korean */
    url("../font/Noto_Sans/NotoSansThaiLooped-Regular.ttf") format("truetype"); /* thai */
}