footer {
    height: 70px;
}

footer h1 {
    color: #fdfdfd;
    font-family: "RobotoMono";
    font-size: 14px;
    line-height: 70px;

    width: 100%;
    text-align: center;
}

@media (max-width: 767px) {
    footer {
        height: 30px;
    }

    footer h1 {
        font-size: 6px;
        line-height: 30px;
    }
}
