.header {
    position: sticky;
    top: 0;
    font-family: "Tilt Warp";
    height: 67px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.header-mobile {
    display: none;
    position: fixed;
    font-family: "Tilt Warp";
    width: 100%;
    z-index: 90;
}

.logo {
    background-position: center;
    float: left;
    width: 55px;
    margin: 5px 5px 5px 230px;
    transition: 150ms all;
}
.logo:hover {
    transform: scale(1.1, 1.1);
}

.header .title {
    display: none;
}

.header .menu div, .header .menu button {
    font-size: 15px;
    color: #fdfdfd;
    height: 50px;
    padding: 20px 10px;
    margin: 7px 10px;
    transition: 500ms all;
}

.header .home {
    margin-left: 10px;
    float: left;
}

.header .leaderboard {
    float: left;
}

.header .community {
    float: left;
}

.header .help {
    float: left;
    filter: invert(30%);
    opacity: 95%;
}

.header .login, .header .playername {
    margin-right: 250px;
    float: right;
}

.header .arrow {
    height: 50px;
    width: 50px;
}

.header .arrow button {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 5px;
    right: 25px;
    width: 13px;
    height: 13px;
    border-top: 3px solid #fdfdfd;
    border-right: 3px solid #fdfdfd;
    transform: rotate(135deg);
}


/* ------------------------------------------------- */
.login-form {
    display: none;
    position: fixed;
    top: 75px;
    right: 135px;
    background-color: #333333;
    font-family: "Tilt Warp";
    font-size: 16px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 90;
}

.username, .password {
    padding: 7px 40px;
}

.username span, .password span {
    display: flex;
    color: #fdfdfd;
    padding: 10px 0;
}

.login-form .errmsg {
    color: red;
    font-size: 14px;
}

.username input, .password input {
    background-color: #222222;
    caret-color: #fdfdfd;
    color: #8b8b8b;
    font-size: 14px;
    width: 220px;
    padding: 8px 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    outline: none;
}

.button {
    color: #fdfdfd;
    width: 80px;
    padding: 8px 0;
    margin: 10px 110px;
    transition: 100ms;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.link-form {
    display: none;
    position: fixed;
    top: 75px;
    right: 215px;
    background-color: #333333;
    font-family: "Tilt Warp";
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 90;
}

.link-form a {
    display: flex;
    color: #fdfdfd;
    padding: 10px 17px;
    margin: 7px;
    justify-content: center;
    border-radius: 5px;
    transition: 500ms;
}
/* ------------------------------------------------- */
.banner {
    height: 200px;
    width: 100%;
    object-fit: cover;
    filter: blur(2px);
}

@media (max-width: 1148px) {
    .header {
        height: 60px;
    }

    .header .logo {
        float: left;
        width: 47px;
        margin: 7px;
    }

    .header .title {
        display: block;
        color: #fdfdfd;
        font-size: 15px;
        line-height: 60px;
        padding-left: 50px;
    }

    .header .menu {
        display: none;
    }

    .header .banner {
        height: 130px;
    }
}