.standard {
    position: sticky;
    top: 0;
    font-family: "Tilt Warp";
    height: 67px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.mobile {
    display: none;
    position: fixed;
    top: 60px;
    font-family: "Tilt Warp";
    font-size: 14px;
    width: 100%;
    z-index: 90;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.8);
}

.logo {
    background-position: center;
    float: left;
    width: 55px;
    margin: 5px 5px 5px 230px;
    transition: 150ms all;
}
.logo:hover {
    transform: scale(1.1, 1.1);
}

.standard .title {
    display: none;
}

.standard .menu div, .standard .menu button {
    font-size: 15px;
    color: #fdfdfd;
    height: 50px;
    padding: 20px 10px;
    margin: 7px 10px;
    transition: 500ms all;
}

.standard .home {
    margin-left: 10px;
    float: left;
}

.standard .leaderboard {
    float: left;
}

.standard .community {
    float: left;
}

.standard .documents {
    float: left;
}

.standard .login, .standard .playername {
    margin-right: 250px;
    float: right;
}

.standard .down, .standard .up {
    display: none;
    color: #fdfdfd;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    margin: 5px;
    text-align: center;
    line-height: 50px ;
}
/* ------------------------------------------------- */
.link-form {
    display: none;
    position: fixed;
    top: 75px;
    right: 215px;
    background-color: #333333;
    font-family: "Tilt Warp";
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 90;
}

.link-form a {
    display: flex;
    color: #fdfdfd;
    padding: 10px 17px;
    margin: 7px;
    justify-content: center;
    border-radius: 5px;
    transition: 500ms;
}
/* ------------------------------------------------- */
.banner {
    height: 200px;
    width: 100%;
    object-fit: cover;
    filter: blur(2px);
}

@media (max-width: 1148px) {
    .standard {
        height: 60px;
    }

    .standard .logo {
        float: left;
        width: 47px;
        margin: 7px;
    }

    .standard .title {
        display: block;
        color: #fdfdfd;
        font-size: 15px;
        line-height: 60px;
        padding-left: 50px;
    }

    .standard .menu {
        display: none;
    }

    .standard .down {
        display: block;
    }

    .mobile {
        color: #919495;
    }

    .mobile .menu li {
        display: flex;
        transition: 100ms;
    }
    .mobile .menu li:hover {
        color: #fdfdfd;
    }

    .mobile .menu .login button, .mobile .menu .playername button {
        margin: 0 15px;
    }

    .mobile .menu li a {
        width: 100%;
    }

    .mobile .menu .border {
        width: 0;
        padding: 10px 0;
        margin: 10px 15px;
        border-radius: 10px;
    }

    .mobile .menu li div, .mobile .menu li button {
        width: 100%;
        padding: 15px 0;
    }
    /* ------------------------------------------------- */
    .login-form {
        top: 75px;
        right: 10px;
        font-size: 14px;
        width: 300px;
    }

    .login-form .errmsg {
        font-size: 12px;
    }

    .username input, .password input {
        font-size: 12px;
    }

    .link-form {
        top: 75px;
        right: 10px;
        font-size: 14px;
    }
    /* ------------------------------------------------- */
    .banner {
        height: 160px;
    }
}