.header {
    position: sticky;
    top: 0;
    font-family: "Tilt Warp";
    height: 67px;
    width: 100%;
    z-index: 100;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.logo {
    background-position: center;
    float: left;
    width: 55px;
    margin: 5px 5px 5px 230px;
    transition: 150ms all;
}
.logo:hover {
    transform: scale(1.1, 1.1);
}

.header .title {
    display: none;
}

.menu div {
    font-size: 15px;
    color: #fdfdfd;
    height: 50px;
    padding: 20px 10px;
    margin: 7px 10px;
    transition: 500ms all;
}

.home {
    margin-left: 10px;
    float: left;
}

.leaderboard {
    float: left;
}

.community {
    float: left;
}

.help {
    float: left;
}

.register {
    margin-right: 250px;
    float: right;
}

.login {
    float: right;
}
/* ------------------------------------------------- */
.banner {
    height: 200px;
    width: 100%;
    object-fit: cover;
    filter: blur(2px);
}

@media (max-width: 1148px) {
    .header {
        height: 60px;
    }

    .logo {
        float: left;
        width: 47px;
        margin: 7px;
    }

    .header .title {
        display: block;
        color: #fdfdfd;
        font-size: 15px;
        line-height: 60px;
        padding-left: 50px;
    }

    .menu {
        display: none;
    }

    .banner {
        height: 130px;
    }
}