main {
    background-color: #1c1c1c;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.welcome-title {
    font-family: "Gloria Hallelujah";
    font-size: 84px;
    color: #fdfdfd;
    text-align: center;
}

@media (max-width: 1224px) {
    .pagename {
        display: none;
    }

    .welcome-title {
        font-size: 62px;
    }
}

@media (max-width: 767px) {
    body {
        min-width: 348px;
    }

    .welcome-title {
        font-size: 46px;
    }
}