.leaderboard-text {
    border-bottom: 3px solid #72fd65;
}
/* ------------------------------------------------- */
.main {
    font-family: "SecularOne";
    background-color: #171c17;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
/* ------------------------------------------------- */
.selection {
    width: 100%;
}

.special {
    color: #fdfdfd;
    font-size: 16px;
    padding: 20px 0 0 12.8%;
}

.special li {
    position: relative;
    top: 20px;
    float: left;
    padding: 7px 10px;
    margin: 0 10px;
    filter: invert(30%);
    opacity: 95%;
}
.special li:hover {
    filter: invert(0%);
    opacity: 100%;
}

.mode {
    float: right;
    padding: 10px 12.8% 0 0;
}

.mode li {
    float: right;
    padding: 0 10px;
}

.mode img {
    width: 45px;
    filter: invert(30%);
    opacity: 95%;
}
.mode img:hover {
    filter: invert(0%);
    opacity: 100%;
}
/* ------------------------------------------------- */
.ranking-table {
    font-size: 16px;
    padding: 90px 12.8%;
}

.table-title {
    display: flex;
}

.table-title span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.ranking-null {
    width: 5%;
    margin-left: 7px;
}

.country-null {
    width: 25px;
}

.name-null {
    width: 30%;
}

.acc-title {
    position: relative;
    left: 6%;
    color: #889885;
    width: 10%;
}

.acc-moble {
    display: none;
}

.playcount-title {
    position: relative;
    left: 6%;
    color: #889885;
    width: 10%;
}

.pp-title {
    position: relative;
    left: 6%;
    color: #fdfdfd;
    width: 10.2%;
}

.pp-moble {
    display: none;
}

.ss-title {
    position: relative;
    left: 6%;
    color: #889885;
    width: 8%;
}

.s-title {
    position: relative;
    left: 6%;
    color: #889885;
    width: 8%;
}

.a-title {
    position: relative;
    left: 6%;
    color: #889885;
    width: 8%;
}

.ranking-table .nothing {
    color: #fdfdfd;
    font-family: "MochiyPopOne";
    font-size: 35px;
    padding-top: 25%;
    text-align: center;
}

.ranking-data {
    display: flex;
    background-color: #2f382e;
    border-radius: 25px;
    padding: 7px 0;
    margin: 5px 0;
}
.ranking-data:hover {
    background-color: #3a4639;
}

.ranking-data span {
    height: 30px;
    line-height: 200%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ranking {
    color: #fdfdfd;
    width: 5%;
    text-align: center;
    margin-left: 5px;
}

.flag-icon {
    width: 25px;
}

.name {
    color: #a3cf9f;
    width: 30%;
    margin-left: 5px;
}

.text {
    padding: 0 7px;
}
.text:hover {
    border-bottom: 1px solid #a3cf9f;
}

.acc {
    position: relative;
    left: 6%;
    color: #889885;
    width: 10%;
    text-align: center;
}

.playcount {
    position: relative;
    left: 6%;
    color: #889885;
    width: 10%;
    text-align: center;
}

.pp {
    position: relative;
    left: 6%;
    color: #fdfdfd;
    width: 10%;
    text-align: center;
}

.ss {
    position: relative;
    left: 6%;
    color: #889885;
    width: 8%;
    text-align: center;
}

.s {
    position: relative;
    left: 6%;
    color: #889885;
    width: 8%;
    text-align: center;
}

.a {
    position: relative;
    left: 6%;
    color: #889885;
    width: 8%;
    text-align: center;
    margin-right: 10px;
}

@media (max-width: 1148px) {
    .special {
        color: #fdfdfd;
        font-size: 12px;
        padding: 0 1%;
    }

    .special li {
        padding: 5px;
        margin: 0 3px;
    }

    .mode {
        float: right;
        padding: 15px 1% 0 0;
    }

    .mode li {
        float: right;
        padding: 0 3px;
    }

    .mode img {
        width: 35px;
        filter: invert(30%);
        opacity: 95%;
    }
    .mode img:hover {
        filter: invert(0%);
        opacity: 100%;
    }

    .ranking-table {
        font-size: 12px;
        padding: 70px 3%;
    }

    .table-title {
        font-size: 10px;
    }

    .ranking-null {
        width: 8%;
        margin-left: 1px;
    }

    .country-null {
        width: 17px;
    }

    .name-null {
        margin-left: 0;
    }

    .acc-title, .pp-title {
        display: none;
    }

    .playcount-title {
        width: 15.5%;
    }

    .acc-moble {
        display: block;
        color: #889885;
        position: relative;
        left: 6%;
        width: 15%;
        text-align: center;
    }

    .pp-moble {
        display: block;
        color: #fdfdfd;
        position: relative;
        left: 6%;
        width: 15.5%;
        text-align: center;
    }

    .ss-title, .s-title, .a-title {
        display: none;
    }

    .ranking-table .nothing {
        font-size: 24px;
        padding-top: 35%;
        text-align: center;
    }

    .ranking-data {
        display: flex;
        padding: 2px 0;
        margin: 3px 0;
    }

    .ranking-data span {
        height: 30px;
        line-height: 31px;
    }

    .ranking {
        width: 8%;
        margin-left: 3px;
    }

    .flag-icon {
        width: 17px;
    }

    .name {
        color: #a3cf9f;
        margin-left: 0;
    }

    .acc, .playcount, .pp {
        width: 15%;
    }

    .ss, .s, .a {
        display: none;
    }
}