main {
    font-family: "SecularOne", "MochiyPopOne";
    background-color: #1c1c1c;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
/* ------------------------------------------------- */
.selection {
    display: flex;
}

.special {
    display: flex;
    color: #fdfdfd;
    font-size: 16px;
    padding: 20px 0 0 12.8%;
}

.special li {
    padding: 10px;
    height: 40px;
    margin: 0 10px;
    filter: invert(30%);
    opacity: 0.95;
}
.special li:hover {
    filter: invert(0%);
    opacity: 1;
}

.mode {
    display: flex;
    padding: 10px 0;
    margin-right: 12.8%;
    margin-left: auto;
}

.mode li {
    padding: 10px;
    filter: invert(30%);
    opacity: 0.95;
}
.mode li:hover {
    filter: invert(0%);
    opacity: 1;
}

.mode i {
    font-size: 45px;
}

.page {
    display: flex;
    height: 40px;
    padding-bottom: 40px;
    justify-content: center;
}

.page p {
    color: #fdfdfd;
    font-size: 18px;
    line-height: 30px;
}

.page .pagearrow i {
    color: #fdfdfd;
    font-size: 30px;
    margin: 0 20px;
    filter: invert(50%);
    opacity: 0.95;
}
.page .pagearrow i:hover {
    filter: invert(0%);
    opacity: 1;
}
/* ------------------------------------------------- */
.ranking-table {
    font-size: 16px;
    width: 100%;
    padding: 15px 12.8% 300px 12.8%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.table-title {
    display: flex;
    justify-content: flex-end;
}

.acc-title {
    color: #fdfdfd;
    width: 85px;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.playcount-title {
    color: #fdfdfd;
    width: 95px;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.pp-title {
    color: #fdfdfd;
    width: 123px;
    text-align: center;
}

.ss-title {
    color: #fdfdfd;
    width: 80px;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.s-title {
    color: #fdfdfd;
    width: 80px;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.a-title {
    color: #fdfdfd;
    width: 80px;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.grade-title {
    color: #fdfdfd;
    width: 123px;
    text-align: center;
}

.ranking-table .nothing {
    color: #fdfdfd;
    font-family: "MochiyPopOne";
    font-size: 35px;
    padding-top: 25%;
    text-align: center;
}

.ranking-data {
    display: flex;
    background-color: #2c2c2c;
    border-radius: 12px;
    line-height: 34px;
    padding: 3px 0;
    margin: 3px 0;
}

.ranking {
    color: #fdfdfd;
    width: 50px;
    text-align: center;
}

.flag-icon {
    width: 25px;
}

.name {
    color: #fdfdfd;
    margin-left: 5px;
}

.text {
    padding: 0 7px;
}
.text:hover {
    border-bottom: 1px solid #345c84;
}

.acc {
    color: #fdfdfd;
    width: 80px;
    text-align: center;
    margin-right: 0;
    margin-left: auto;
    filter: invert(30%);
    opacity: 0.95;
}

.playcount {
    color: #fdfdfd;
    width: 100px;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.pp {
    color: #fdfdfd;
    width: 120px;
    text-align: center;
}

.ss {
    color: #fdfdfd;
    width: 80px;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.s {
    color: #fdfdfd;
    width: 80px;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.a {
    color: #fdfdfd;
    width: 80px;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.grade {
    color: #fdfdfd;
    width: 120px;
    margin-right: 0;
    margin-left: auto;
    text-align: center;
}

@media (max-width: 1232px) {
    .ss-title, .s-title, .a-title {
        display: none;
    }

    .ss, .s, .a {
        display: none;
    }
}

@media (max-width: 767px) {
    body {
        min-width: 348px;
    }

    .special {
        font-size: 12px;
        text-align: center;
        padding-left: 0;
    }

    .special li {
        height: 35px;
        padding: 10px 5px;
        margin: 0 5px;
    }

    .mode {
        margin-right: 5px;
    }

    .mode li {
        padding: 10px 5px;
    }

    .mode i {
        font-size: 35px;
    }

    .page {
        padding-bottom: 20px;
    }

    .page p {
        font-size: 16px;
    }

    .page .pagearrow img {
        height: 28px;
        width: 28px;
    }

    .ranking-table {
        font-size: 12px;
        padding: 30px 1% 150px 1%;
    }

    .table-title {
        font-size: 10px;
    }

    .ss-title, .s-title, .a-title {
        display: none;
    }

    .acc-title, .playcount-title, .pp-title {
        width: 71px;
    }

    .grade-title {
        width: 70px;
    }

    .ranking-table .nothing {
        font-size: 24px;
        padding-top: 35%;
        text-align: center;
    }

    .ranking-data {
        display: flex;
        padding: 2px 0;
        margin: 3px 0;
    }

    .ranking-data span {
        height: 35px;
        line-height: 35px;
    }

    .ranking {
        width: 8%;
        margin-left: 3px;
    }

    .flag-icon {
        width: 17px;
    }

    .name {
        color: #fdfdfd;
        margin-left: 0;
    }

    .acc, .playcount, .pp {
        width: 70px;
    }

    .ss, .s, .a {
        display: none;
    }

    .grade {
        width: 70px;
    }
}
