main {
    background-color: #1c1c1c;
}
/* ------------------------------------------------- */
.selection {
    display: flex;
    padding-top: 15px;
}

.special {
    color: #fdfdfd;
    font-size: 20px;
    margin-left: 12.8%;
    margin-top: auto;
    margin-bottom: auto;
    appearance: menulist;
}

.special .menu-title {
    position: relative;
    background-color: #424242;
    width: 130px;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
}

.special .menu-title i {
    font-size: 16px;
    line-height: 23px;
    float: right;
}

.special .dropdown {
    display: none;
    position: absolute;
    width: 130px;
    transition: transform 300ms;
    transform: translateY(-33px);
    z-index: 5;
}

.special .dropdown li {
    background-color: #262626;
    padding: 5px;
    transition: background-color 100ms;
}
.special .dropdown li:hover {
    background-color: #3c3c3c;
}

.special .dropdown li a {
    display: block;
}

.special .dropdown.show {
    transform: translateY(0);
}

.mode {
    display: flex;
    padding: 10px 0;
    margin-right: 12.8%;
    margin-left: auto;
}

.mode li {
    padding: 0 10px;
    filter: invert(30%);
    opacity: 0.95;
    transition: filter 150ms, opacity 150ms;
}
.mode li:hover {
    filter: invert(0%);
    opacity: 1;
}

.mode i {
    color: #fdfdfd;
    font-size: 45px;
}

.country ul {
    display: flex;
    color: #fdfdfd;
    font-size: 24px;
    height: 40px;
    width: 850px;
    margin: 10px auto;
    overflow-x: auto;
    overflow-y: hidden;
}
.country ul::-webkit-scrollbar {
    height: 8px;
}
.country ul::-webkit-scrollbar-track {
    background-color: #33333d;
}
.country ul::-webkit-scrollbar-thumb {
    background-color: #99999e;
    border-radius: 2px;
}

.country ul li {
    height: 30px;
    line-height: 30px;
    max-width: 30px;
    border-radius: 30px;
    margin: 0 2px;
    flex-basis: 30px;
    flex-shrink: 0;
    text-align: center;
    cursor: pointer;
    opacity: 0.35;
    transform: scale(1.01);
    transition: transform 150ms, opacity 150ms;
}
.country ul li:hover {
    opacity: 1;
    transform: scale(1.05);
}

.country ul .all {
    font-size: 18px;
    opacity: 0.5;
    transform: scale(1);
    transition: background-color 150ms, opacity, 150ms, color 150ms;
}
.country ul .all:hover {
    background-color: #fdfdfd;
    color: #1c1c1c;
    font-weight: bold;
    transform: scale(1);
    opacity: 1;
}

.country ul .all a {
    display: block;
    margin: auto 0;
}

.page {
    display: flex;
    color: #fdfdfd;
    height: 40px;
    padding-bottom: 40px;
    justify-content: center;
}

.page ul {
    display: flex;
    height: 30px;
}

.page ul li {
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 0 5px;
    text-align: center;
    transition: background-color 150ms, color 150ms, font-weight 150ms;
}

.page ul .item {
    cursor: pointer;
}
.page ul .item:hover {
    background-color: #fdfdfd;
    color: #1c1c1c;
    font-weight: bold;
}

.page .pagearrow i {
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
    filter: invert(50%);
    opacity: 0.95;
    transition: filter 150ms, opacity 150ms;
}

.page .pagearrow .available:hover {
    filter: invert(0%);
    opacity: 1;
}

.clan {
    display: flex;
    justify-content: center;
}

.clan li {
    color: #fdfdfd;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    margin: 0 30px;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
    transition: filter 150ms, opacity 150ms;
}
.clan li:hover {
    filter: invert(0%);
    opacity: 1;
}

.clan li a {
    display: block;
}

.clan li:hover .tooltip {
    bottom: 100%;
    visibility: visible;
    opacity: 1;
}

.clan li .tooltip {
    line-height: 10px;
    width: auto;
    position: absolute;
    left: 50%;
    bottom: 80%;
    transform: translateX(-50%);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 10px;
    background-color: #17171c;
    font-size: 14px;
    color: #fff;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: bottom 300ms, visibility 300ms, opacity 300ms;
}
/* ------------------------------------------------- */
.ranking-table {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 15px 12.8% 300px 12.8%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.table-title {
    display: flex;
    justify-content: flex-end;
}

.table-title span {
    color: #fdfdfd;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.acc-title {
    width: 80px;
}

.playcount-title {
    width: 100px;
}

.pp-title {
    width: 120px;
}

.score-title {
    width: 130px;
}

.acc-title:hover, .playcount-title:hover, .pp-title:hover, .score-title:hover {
    filter: invert(0%);
    opacity: 1;
}

.ss-title {
    width: 80px;
}

.s-title {
    width: 80px;
}

.a-title {
    width: 80px;
}

.grade-title {
    width: 120px;
    filter: invert(0%);
    opacity: 1;
}

.ranking-table .nothing {
    color: #fdfdfd;
    font-size: 35px;
    padding-top: 25%;
    text-align: center;
}

.ranking-data {
    display: flex;
    background-color: #2c2c2c;
    border-radius: 12px;
    line-height: 34px;
    padding: 3px 0;
    margin: 3px 0;
}

.ranking {
    color: #fdfdfd;
    width: 60px;
    margin: auto 0;
    font-weight: bold;
    text-align: center;
}

.flag-icon {
    width: 25px;
    margin: auto 0;
}

.ranking-data img {
    width: 50px;
    height: 50px;
    margin: auto 0;
    border-radius: 2px;
    object-fit: cover;
}

.name {
    color: #fdfdfd;
    margin: auto auto auto 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text {
    padding: 0 7px;
}
.text:hover {
    border-bottom: 2px solid #345c84;
}

.acc {
    color: #fdfdfd;
    width: 80px;
    margin: auto 0;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.playcount {
    color: #fdfdfd;
    width: 100px;
    margin: auto 0;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.pp {
    color: #fdfdfd;
    width: 120px;
    margin: auto 0;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.score {
    color: #fdfdfd;
    width: 130px;
    margin: auto 0;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.ss {
    color: #fdfdfd;
    width: 80px;
    margin: auto 0;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.s {
    color: #fdfdfd;
    width: 80px;
    margin: auto 0;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.a {
    color: #fdfdfd;
    width: 80px;
    margin: auto 0;
    text-align: center;
    filter: invert(30%);
    opacity: 0.95;
}

.grade {
    color: #fdfdfd;
    width: 120px;
    margin: auto 0;
    text-align: center;
}

@media (max-width: 1232px) {
    .country ul {
        width: 500px;
    }
    .country ul::-webkit-scrollbar {
        display: none;
    }

    .score-title, .ss-title, .s-title, .a-title {
        display: none;
    }

    .acc {
        margin: 0;
    }

    .score, .ss, .s, .a {
        display: none;
    }
}

@media (max-width: 767px) {
    body {
        min-width: 348px;
    }

    .special {
        font-size: 17px;
        margin-left: 5px;
    }

    .country ul {
        width: 340px;
    }

    .country ul li {
        transform: scale(1.5);
    }
    .country ul li:hover {
        transform: scale(1.6);
    }

    .page ul :not(.now-page):not(.zero) {
        display: none;
    }

    .mode {
        margin-right: 5px;
    }

    .mode li {
        padding: 10px 5px;
    }

    .mode i {
        font-size: 35px;
    }

    .page {
        padding-bottom: 20px;
    }

    .page p {
        font-size: 16px;
    }

    .page .pagearrow img {
        height: 28px;
        width: 28px;
    }

    .ranking-table {
        font-size: 12px;
        padding: 30px 1% 150px 1%;
    }

    .table-title {
        font-size: 10px;
    }

    .ss-title, .s-title, .a-title {
        display: none;
    }

    .acc-title, .playcount-title, .pp-title {
        width: 70px;
    }

    .grade-title {
        width: 70px;
    }

    .ranking-table .nothing {
        font-size: 24px;
        padding-top: 35%;
        text-align: center;
    }

    .ranking-data {
        display: flex;
        padding: 2px 0;
        margin: 3px 0;
    }

    .ranking-data span {
        height: 35px;
        line-height: 35px;
    }

    .ranking {
        width: 9.5%;
    }

    .flag-icon {
        width: 17px;
    }

    .name {
        color: #fdfdfd;
        margin-left: 0;
    }

    .acc, .playcount, .pp {
        width: 70px;
    }

    .ss, .s, .a {
        display: none;
    }

    .grade {
        width: 70px;
    }
}
