body {
    min-width: 1200px;
}
/* ------------------------------------------------- */
.main {
    background-color: #1c1917;
    height: 100vh;
    width: 100%;
}

.main h1 {
    color: #fdfdfd;
    font-family: "けいふぉんと";
    font-size: 84px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}