main {
    font-family: "Righteous";
    color: #fdfdfd;
    background-color: #171a1c;
}
/* ------------------------------------------------- */
.maplist {
    display: flex;
    background-color: #22282a;
    width: 1250px;
    margin: 0 auto;
    border-radius: 10px;
    flex-wrap: wrap;
}

.maplist .background {
    background-color: #1f292e;
    width: 600px;
    height: 120px;
    margin-left: 17px;
    border-radius: 10px;
}

.maplist .box {
    position: relative;
    width: 100%;
    height: 120px;
    border-radius: 10px;
}

.box .bg {
    position: absolute;
    width: 600px;
    height: 120px;
    opacity: 0.3;
    border-radius: 10px;
    object-fit: cover;
}

.box .info {
    position: relative;
    z-index: 50;
}

.stats {
    position: relative;
    z-index: 50;
}

.stats .diff img {
    width: 20px;
}

.stats .diff .color {

}

.stats .diff .value {
    color: black;
}