main {
    color: #fdfdfd;
    background-color: #171a1c;
    padding-top: 100px;
    padding-bottom: 300px;
}
/* ------------------------------------------------- */
.option {
    width: 1245px;
    margin: 0 auto;
}

.option .flex {
    display: flex;
    position: relative;
    background-color: #1f292e;
    height: 50px;
    border-radius: 10px 10px 0 0;
    z-index: 10;
}

.option .flex h1 i {
    font-size: 28px;
}

.option .flex h1 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
    margin: auto 0;
}

.option .background {
    position: relative;
    background-color: #1f292e;
    height: 250px;
    width: 100%;
}

.option .background img {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    opacity: 0.2;
    filter: blur(5px);
}

.option .selection {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.option .selection h1 {
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.option .selection li {
    color: #95c6d9;
    font-size: 20px;
    font-weight: bold;
    transition: color 200ms, text-decoration 200ms;
}
.option .selection li:hover {
    color: #b8d3e0;
    text-decoration: underline;
}

.option .selection .mode {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.option .selection .mode li {
    margin: 5px 7px;
}

.option .selection .mode li a i {
    font-weight: normal;
}

.option .selection .refine {
    display: flex;
    justify-content: center;
}

.option .selection .refine ul {
    display: flex;
    margin: 0 50px;
}

.option .selection .refine ul li {
    margin: 5px 10px;
}

.option .page {
    display: flex;
    position: relative;
    background-color: #2e3538;
    height: 40px;
    width: 100%;
    justify-content: center;
    z-index: 10;
}

.option .page p {
    color: #fdfdfd;
    font-size: 18px;
    line-height: 40px;
}

.option .page .pagearrow i {
    color: #fdfdfd;
    font-size: 30px;
    line-height: 40px;
    margin: 0 20px;
    filter: invert(50%);
    opacity: 0.95;
}
.option .page .pagearrow i:hover {
    filter: invert(0%);
    opacity: 1;
}
/* ------------------------------------------------- */
.list {
    display: flex;
    background-color: #22282a;
    width: 1245px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    flex-wrap: wrap;
}

.list h1 {
    font-size: 35px;
    font-weight: bold;
    height: 400px;
    line-height: 400px;
    width: 100%;
    text-align: center;
}

.list .background {
    background-color: #1f292e;
    width: 600px;
    height: 130px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 10px;
    transition: transform 200ms;
}
.list .background:hover {
    transform: scale(1.015);
}

.list .box {
    position: relative;
    width: 100%;
    height: 130px;
    border-radius: 10px;
}

.box .bg {
    position: absolute;
    width: 600px;
    height: 130px;
    opacity: 0.2;
    border-radius: 10px;
    object-fit: cover;
}

.box .info {
    position: relative;
    z-index: 50;
}

.info .title {
    font-size: 22px;
    line-height: 32px;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info .artist {
    font-size: 15px;
    padding-left: 5px;
}

.info .mapper {
    color: #dbe9f0;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 5px;
}

.info .mapper a {
    color: #95c6d9;
    font-weight: bold;
}
.info .mapper a:hover {
    color: #b8d3e0;
    text-decoration: underline;
}

.box .stats {
    display: flex;
    padding-left: 5px;
}

.stats .status {
    position: relative;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    width: 80px;
    margin-top: 5px;
    text-align: center;
    border-radius: 50px;
    z-index: 50;
}

.stats .diff {
    display: flex;
    height: 60px;
    width: 518px;
    margin-top: 3px;
    margin-left: 5px;
    flex-wrap: wrap;
    overflow: scroll;
    -ms-overflow-style: none;
}
.stats .diff::-webkit-scrollbar {
    display: none;
}

.stats .diff a {
    font-size: 24px;
    height: 28px;
    line-height: 28px;
    width: 28px;
    text-shadow: 0 0 5px rgb(253, 253, 253, 0.3);
    -webkit-text-stroke: 1px rgb(0, 0, 0, 0.5);
    text-align: center;
    transition: width 200ms, font-size 200ms;
}
.stats .diff a:hover {
    width: 32px;
    font-size: 32px;
}