main {
    font-family: "Righteous";
    color: #fdfdfd;
    background-color: #171a1c;
    padding-top: 100px;
    padding-bottom: 300px;
}
/* ------------------------------------------------- */
.option .page {
    display: flex;
    background-color: #2e3538;
    height: 40px;
    width: 1245px;
    margin: 0 auto;
    justify-content: center;
}

.option .page p {
    color: #fdfdfd;
    font-size: 18px;
    line-height: 40px;
}

.option .page .pagearrow i {
    color: #fdfdfd;
    font-size: 30px;
    line-height: 40px;
    margin: 0 20px;
    filter: invert(50%);
    opacity: 0.95;
}
.option .page .pagearrow i:hover {
    filter: invert(0%);
    opacity: 1;
}
/* ------------------------------------------------- */
.list {
    display: flex;
    background-color: #22282a;
    width: 1245px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    flex-wrap: wrap;
}

.list h1 {
    font-size: 35px;
    height: 200px;
    line-height: 200px;
    width: 100%;
    text-align: center;
}

.list .background {
    background-color: #1f292e;
    width: 600px;
    height: 124px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 10px;
    transition: transform 200ms;
}
.list .background:hover {
    transform: scale(1.015);
}

.list .box {
    position: relative;
    width: 100%;
    height: 124px;
    border-radius: 10px;
}

.box .bg {
    position: absolute;
    width: 600px;
    height: 124px;
    opacity: 0.2;
    border-radius: 10px;
    object-fit: cover;
}

.box .info {
    position: relative;
    z-index: 50;
}

.info .title {
    font-size: 22px;
    padding-top: 5px;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info .artist {
    font-size: 15px;
    padding-left: 5px;
}

.info .mapper {
    color: #dbe9f0;
    font-size: 12px;
    padding-left: 5px;
}

.info .mapper span {
    color: #a6c8d9;
}
.info .mapper span:hover {
    color: #a7d3e0;
}

.box .stats {
    display: flex;
    padding-left: 5px;
}

.stats .status {
    position: relative;
    height: 24px;
    line-height: 24px;
    width: 74px;
    margin-top: 5px;
    text-align: center;
    border-radius: 50px;
    z-index: 50;
}

.stats .diff {
    display: flex;
    height: 60px;
    width: 518px;
    margin-top: 3px;
    margin-left: 5px;
    flex-wrap: wrap;
    overflow: scroll;
    -ms-overflow-style: none;
}
.stats .diff::-webkit-scrollbar {
    display: none;
}

.stats .diff a {
    font-size: 24px;
    height: 28px;
    line-height: 28px;
    width: 28px;
    text-shadow: 0 0 5px rgb(253, 253, 253, 0.3);
    -webkit-text-stroke: 1px rgb(0, 0, 0, 0.5);
    text-align: center;
    transition: width 200ms, font-size 200ms;
}
.stats .diff a:hover {
    width: 32px;
    font-size: 32px;
}