.main {
    font-family: "Righteous";
    background-color: #1c1719;
    height: 2700px;
}
/* ------------------------------------------------- */
.player-banner {
    color: #fdfdfd;
    position: absolute;
    background-color: #45393f;
    top: 150px;
    padding-top: 10px;
    margin-left: 12.8%;
    height: 100px;
    width: 73%;
    min-width: 1030px;
    border-radius: 10px;
}

.flag-icon {
    height: 24px;
    width: 32px;
    bottom: 12px;
    margin-left: 10px;
}

.name {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 5px;
}

.player-banner .special {
    position: relative;
    right: 10px;
}

.player-banner .special li {
    float: right;
    filter: invert(30%);
    padding: 7px 10px;
    margin: 0 10px;
    opacity: 95%;
}
.player-banner .special li:hover {
    filter: invert(0%);
    opacity: 100%;
}

.player-banner .mode {
    position: relative;
    bottom: 45px;
}

.player-banner .mode li img {
    width: 50px;
    float: right;
    filter: invert(30%);
    margin: 35px 1% 0 1%;
    opacity: 95%;
}
.player-banner .mode li img:hover {
    filter: invert(0%);
    opacity: 100%;
}
/* ------------------------------------------------- */
.player-info {
    position: absolute;
    background-color: #45393f;
    top: 270px;
    padding-top: 15px;
    padding-left: 20px;
    margin-left: 12.8%;
    height: 290px;
    width: 73%;
    min-width: 1030px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.stats {
    padding-left: 5px;
}

.stats div {
    position: relative;
}

.stats div .title {
    color: #fdfdfd;
    font-size: 16px;
}

.stats div .value {
    font-size: 32px;
    color: #eed9d6;
}

.country-ranking {
    bottom: 56px;
    padding-left: 150px;
}

.player-pp {
    bottom: 55px;
    padding-left: 12%;
}

.playtime {
    bottom: 110px;
    padding-left: 24%;
}

.grade-amounts {
    display: flex;
    bottom: 80px;
    padding-bottom: -1000px;
}

.grade-amounts div {
    text-align: center;
    margin: 0 2%;
}

.grade-amounts div img {
    height: 45px;
    width: 45px;
    background-color: #816a75;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.grade-amounts div .value {
    font-size: 20px;
    color: #fdfdfd;
}
/* ------------------------------------------------- */
.player-scores {
    color: #fdfdfd;
    position: relative;
    bottom: 338px;
    right: 200px;
    padding-left: 30px;
    float: right;
    border-left: 1px solid #1c1719;
}

.player-scores .title {
    float: left;
    font-size: 20px;
}

.player-scores .title span {
    display: flex;
    padding: 6px 0;
}

.player-scores .value {
    position: relative;
    font-size: 20px;
    left: 50px;
}

.player-scores .value span {
    display: flex;
    padding: 6px 0;
}
/* ------------------------------------------------- */
.bestpp-list {
    position: absolute;
    background-color: #45393f;
    top: 580px;
    margin-left: 12.8%;
    height: 690px;
    width: 73%;
    min-width: 1030px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    scroll-margin-top: 100px;
}

.bestpp-list h1 {
    position: relative;
    color: #fdfdfd;
    font-size: 24px;
    left: 5px;
    float: left;
}

.bestpp-list h2 {
    color: #fdfdfd;
    font-size: 20px;
    text-align: right;
    padding-right: 7%;
}

.bestpp-list .pagearrow {
    position: relative;
    float: right;
    bottom: 21px;
}

.bestpp-list .pagearrow img {
    margin: 0 5px;
    filter: invert(50%);
    opacity: 95%;
}

.bestpp-list .pagearrow img:hover {
    filter: invert(100%);
    opacity: 100%;
}

.bestpp-list .pagearrow .back img {
    transform: scale(-1, 1);
    height: 24px;
    width: 24px;
}

.bestpp-list .pagearrow .next img {
    height: 24px;
    width: 24px;
}

.bestpp-list .nothing {
    color: #fdfdfd;
    font-family: "MochiyPopOne";
    width: 73%;
    margin-left: 12.8%;
    font-size: 35px;
    text-align: center;
    line-height: 630px;
}

.bestpp-list .list {
    height: 60px;
    margin: 5px;
    background-color: #6f5b64;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}
.bestpp-list .list:hover {
    background-color: #816a75;
}

.bestpp-list .list .grade {
    position: relative;
    height: 65px;
    width: 35px;
    bottom: 3px;
    margin-left: 10px;
    float: left;
}

.bestpp-list .list .map-info {
    position: relative;
    left: 8px;
    top: 10px;
}

.bestpp-list .list .map-info .title {
    color: #fdfdfd;
    position: relative;
    display: flex;
    font-size: 18px;
}

.bestpp-list .list .map-info .diff {
    color: #eca900;
    font-size: 14px;
}

.bestpp-list .list .scores {
    font-family: "Ubuntu";
    font-weight: bold;
    position: relative;
    bottom: 90px;
}

.bestpp-list .list .mods {
    position: relative;
    right: 7px;
    top: 61px
}

.bestpp-list .list .mods img {
    height: 40px;
    width: 40px;
    float: right;
}

.bestpp-list .list .acc {
    color: #ffcc22;
    position: relative;
    float: right;
    width: 80px;
    top: 72px;
    text-align: center;
}

.bestpp-list .list .pp {
    position: relative;
    background-color: #54454c;
    float: right;
    height: 60px;
    line-height: 55px;
    width: 160px;
    text-align: center;
    top: 51px;
    border-radius: 10px;
}

.bestpp-list .list .recorded {
    color: #ff66ab;
    font-size: 26px;
}

.bestpp-list .list .recorded span {
    color: #d194af;
}

.bestpp-list .list .weighted {
    color: #fdfdfd;
}
/* ------------------------------------------------- */
.mostplays-list {
    position: absolute;
    background-color: #45393f;
    top: 1290px;
    margin-left: 12.8%;
    height: 690px;
    width: 73%;
    min-width: 1030px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    scroll-margin-top: 100px;
}

.mostplays-list h1 {
    position: relative;
    color: #fdfdfd;
    font-size: 24px;
    left: 5px;
    float: left;
}

.mostplays-list h2 {
    color: #fdfdfd;
    font-size: 20px;
    text-align: right;
    padding-right: 7%;
}

.mostplays-list .pagearrow {
    position: relative;
    float: right;
    bottom: 21px;
}

.mostplays-list .pagearrow img {
    margin: 0 5px;
    filter: invert(50%);
    opacity: 95%;
}

.mostplays-list .pagearrow img:hover {
    filter: invert(100%);
    opacity: 100%;
}

.mostplays-list .pagearrow .back img {
    transform: scale(-1, 1);
    height: 24px;
    width: 24px;
}

.mostplays-list .pagearrow .next img {
    height: 24px;
    width: 24px;
}

.mostplays-list .nothing {
    color: #fdfdfd;
    font-family: "MochiyPopOne";
    width: 73%;
    margin-left: 3%;
    font-size: 35px;
    text-align: center;
    line-height: 630px;
}

.mostplays-list .list {
    height: 60px;
    margin: 5px;
    background-color: #6f5b64;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}
.mostplays-list .list:hover {
    background-color: #816a75;
}

.mostplays-list .mapbg {
    height: 60px;
    width: 87px;
    float: left;
    border-radius: 10px;
}

.mostplays-list .list .map-info {
    position: relative;
    top: 10px;
}

.mostplays-list .list .map-info .title {
    color: #fdfdfd;
    position: relative;
    left: 10px;
    display: flex;
    font-size: 18px;
}

.mostplays-list .list .map-info .mapper {
    color: #a08d96;
    position: relative;
    left: 10px;
    font-size: 14px;
}

.mostplays-list .list .map-info .mapper .bold {
    font-weight: bolder;
}

.mostplays-list .list .main-info {
    position: relative;
    top: 22px;
}

.mostplays-list .list .main-info .mode {
    position: relative;
    height: 35px;
    width: 35px;
    float: right;
    bottom: 49px;
}

.mostplays-list .list .main-info .value span {
    position: relative;
    bottom: 1px;
    right: 5px;
    font-size: 18px;
}

.mostplays-list .list .main-info .value {
    color: #ffcc22;
    position: relative;
    font-family: "Ubuntu";
    font-size: 26px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    float: right;
    bottom: 47px;
}
/* ------------------------------------------------- */
.recentplays-list {
    position: absolute;
    background-color: #45393f;
    top: 2000px;
    margin-left: 12.8%;
    height: 495px;
    width: 73%;
    min-width: 1030px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    scroll-margin-top: 180px;
}

.recentplays-list h1 {
    color: #fdfdfd;
    font-size: 24px;
    padding-left: 5px;
    float: left;
}

.recentplays-list h2 {
    color: #fdfdfd;
    font-size: 20px;
    text-align: right;
    padding-right: 7%;
}

.recentplays-list .pagearrow {
    position: relative;
    float: right;
    bottom: 21px;
}

.recentplays-list .pagearrow img {
    margin: 0 5px;
    filter: invert(50%);
    opacity: 95%;
}

.recentplays-list .pagearrow img:hover {
    filter: invert(100%);
    opacity: 100%;
}

.recentplays-list .pagearrow .back img {
    transform: scale(-1, 1);
    height: 24px;
    width: 24px;
}

.recentplays-list .pagearrow .next img {
    height: 24px;
    width: 24px;
}

.recentplays-list .nothing {
    color: #fdfdfd;
    font-family: "MochiyPopOne";
    width: 73%;
    margin-left: 12.8%;
    font-size: 35px;
    text-align: center;
    line-height: 430px;
}

.recentplays-list .list {
    height: 60px;
    margin: 5px;
    background-color: #6f5b64;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}
.recentplays-list .list:hover {
    background-color: #816a75;
}

.recentplays-list .list .grade {
    position: relative;
    height: 65px;
    width: 35px;
    bottom: 3px;
    margin-left: 10px;
    float: left;
}

.recentplays-list .list .map-info {
    position: relative;
    top: 10px;
    left: 8px;
}

.recentplays-list .list .map-info .title {
    color: #fdfdfd;
    display: flex;
    font-size: 18px;
}

.recentplays-list .list .map-info .diff {
    color: #eca900;
    font-size: 14px;
}

.recentplays-list .list .scores {
    font-family: "Ubuntu";
    font-weight: bold;
    position: relative;
    bottom: 25px;
}

.recentplays-list .list .mods {
    position: relative;
    right: 7px;
}

.recentplays-list .list .mods img {
    float: right;
    position: relative;
    height: 40px;
    width: 40px;
    bottom: 5px;
}

.recentplays-list .list .mode img {
    position: relative;
    height: 35px;
    width: 35px;
    float: right;
    bottom: 3px;
}

.recentplays-list .list .acc {
    color: #ffcc22;
    position: relative;
    float: right;
    width: 80px;
    top: 7px;
    text-align: center;
}

.recentplays-list .list .pp {
    position: relative;
    background-color: #54454c;
    float: right;
    height: 60px;
    line-height: 55px;
    width: 170px;
    text-align: center;
    bottom: 14px;
    border-radius: 10px;
}

.recentplays-list .list .recorded {
    color: #ff66ab;
    font-size: 26px;
}

.recentplays-list .list .recorded span {
    color: #d194af;
}

.recentplays-list .list .status {
    color: #fdfdfd;
}

@media (max-width: 1148px) {

}