.background-img {
    position: fixed;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

main {
    color: #fdfdfd;
    padding-top: 150px;
    padding-bottom: 300px;
}

main .box {
    background-color: rgba(46, 46, 56, 0.9);
    padding: 5px;
    margin: 20px 12.8%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

main .box div .data-mobile {
    display: none;
}

main .banner-box {
    padding: 0;
    margin: 0 12.8%;
    border-radius: 10px 10px 0 0;
}

main .banner-box img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
/* ------------------------------------------------- */
main .player-banner {
    margin-top: 0;
    border-radius: 0 0 10px 10px;
}

main .player-banner div {
    display: flex;
}

main .player-banner .username .avatar {
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 10px;
    object-fit: cover;
}

main .player-banner .username .badge {
    height: 26px;
    margin: auto 0;
    transition: 100ms;
}

main .player-banner .username .verified-hover {
    display: none;
    height: 18px;
    transition: 100ms;
}

main .player-banner .username div {
    display: block;
    margin: auto 0;
}

main .player-banner .username h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 5px;
    margin: auto 0;
    float: left;
}

main .player-banner .username .edit {
    font-size: 20px;
    margin: auto 0;
    opacity: 0.7;
}
main .player-banner .username .edit:hover {
    opacity: 1;
}

main .player-banner .username .flag-icon {
    font-size: 22px;
    margin: 18px 5px;
    border-radius: 2px;
}

main .player-banner .username #follow {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 20px;
}

main .player-banner .username .follow-btn {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 38px;
    width: 38px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 150ms;
}
main .player-banner .username .follow-btn:hover {
    transform: scale(1.03);
}

main .player-banner .username .follow-btn:hover .tooltip {
    bottom: 100%;
    visibility: visible;
    opacity: 1;
}

main .player-banner .username .follow-btn .tooltip {
    line-height: 10px;
    width: 80px;
    position: absolute;
    left: 50%;
    bottom: 80%;
    transform: translateX(-50%);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 10px;
    background-color: #17171c;
    font-size: 0.7em;
    color: #fff;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: bottom 300ms, visibility 300ms, opacity 300ms;
}
main .player-banner .username .follow-btn .tooltip::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 12px solid #17171c;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

main .player-banner .username .flex-box {
    display: flex;
}

main .player-banner .username .flex-box .aka {
    color: #ababab;
    margin-left: 5px;
}

main .player-banner .username .flex-box .be-followed {
    background-color: rgb(32, 35, 39, 0.7);
    color: #71767b;
    font-size: 12px;
    padding: 2px 5px;
    margin: auto 5px;
    border-radius: 5px;
}

main .player-banner .relationship span {
    position: relative;
    cursor: pointer;
    background-color: #17171c;
    width: 100px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 40px;
    text-align: center;
    transition: transform 150ms;
}
main .player-banner .relationship span:hover {
    transform: scale(1.03);
}

main .player-banner .relationship span i {
    margin-right: 15px;
}

main .player-banner .relationship span:hover .tooltip {
    bottom: 100%;
    visibility: visible;
    opacity: 1;
}

main .player-banner .relationship .tooltip {
    width: 110px;
    position: absolute;
    left: 50%;
    bottom: 80%;
    transform: translateX(-50%);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 10px;
    background-color: #17171c;
    font-size: 0.7em;
    color: #fff;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: bottom 300ms, visibility 300ms, opacity 300ms;
}

main .player-banner .relationship .list {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    z-index: 50;
}

main .player-banner .relationship .show {
    visibility: visible;
}

main .player-banner .relationship .list .wrap {
    display: block;
    background-color: #302e38;
    min-height: 0;
    max-height: 100%;
    width: 530px;
    margin: 0 auto;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transform: scale(0);
    transition: transform 300ms;
}
main .player-banner .relationship .list .wrap::-webkit-scrollbar {
    display: none;
}

main .player-banner .relationship .list .wrap h1 {
    background-color: #221f2e;
    font-size: 20px;
    font-weight: bold;
    width: 530px;
    padding: 12px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
}

main .player-banner .relationship .list .wrap h1 i {
    margin-right: 5px;
}

main .player-banner .relationship .list .wrap h1 .fa-xmark {
    font-size: 24px;
    margin: 0;
    cursor: pointer;
    float: right;
    transform: scale(1.2);
    filter: invert(30%);
    opacity: 0.95;
}
main .player-banner .relationship .list .wrap h1 .fa-xmark:hover {
    filter: invert(0%);
    opacity: 1;
}

main .player-banner .relationship .show .wrap {
    transform: scale(1);
}

main .player-banner .relationship .list .data {
    display: flex;
    background-color: #444453;
    width: 500px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: outline 100ms, transform 300ms;
}
main .player-banner .relationship .list .data:hover {
    outline: 2px solid #44aadd;
    outline-offset: -2px;
    transform: scale(1.025);
}

main .player-banner .relationship .list .data img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 10px;
}

main .player-banner .relationship .list .data .name {
    margin: auto 0;
}

main .player-banner .relationship .list .data .name i {
    font-size: 16px;
    margin: 0 5px;
    border-radius: 2px;
}

main .player-banner .relationship .list .data .name p {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .player-banner .player-status span {
    cursor: unset;
    height: 12px;
    width: 12px;
    padding: 0;
    margin: auto 5px;
}
main .player-banner .player-status span:hover {
    transform: unset;
}

main .player-banner .player-status p {
    margin: auto 0;
}

main .player-banner .selection .special {
    color: #fdfdfd;
    font-size: 20px;
    margin: auto 10px;
    appearance: menulist;
}

main .player-banner .selection .special .menu-title {
    position: relative;
    background-color: #424242;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
}

main .player-banner .selection .special .menu-title .arrow {
    font-size: 16px;
    line-height: 23px;
    float: right;
}

main .player-banner .selection .special .dropdown {
    display: none;
    position: absolute;
    width: 150px;
    transition: transform 300ms;
    z-index: 5;
}

main .player-banner .selection .special .dropdown li {
    background-color: #262626;
    padding: 5px;
    transition: background-color 100ms;
    transform: translateY(0);
}
main .player-banner .selection .special .dropdown li:hover {
    background-color: #3c3c3c;
}

main .player-banner .selection .special .dropdown li a {
    display: block;
}

main .player-banner .selection .special .dropdown.show {
    transform: translateY(33px);
}

main .player-banner .selection .set-favorite {
    background-color: #393946;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    border-radius: 20px;
    cursor: pointer;
}
main .player-banner .selection .set-favorite:hover {
    background-color: #454554;
}

main .player-banner .selection .mode {
    display: flex;
}

main .player-banner .selection .mode li {
    display: flex;
    padding: 0 5px;
    margin: auto 5px;
    filter: invert(30%);
    opacity: 0.95;
}
main .player-banner .selection .mode li:hover {
    filter: invert(0%);
    opacity: 1;
}

main .player-banner .selection .mode li a {
    font-size: 45px;
}

main .player-banner .selection .mode li .favorite {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

main .player-banner .me {
    display: inline-block;
    width: 100%;
    padding: 10px;
}

main .player-banner .me h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    float: left;
}

main .player-banner .me h1 i {
    margin-right: 5px;
}

main .player-banner .me .edit-button {
    background-color: #454554;
    font-size: 18px;
    line-height: 38px;
    width: 38px;
    margin: 1px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    transition: background-color 150ms;
}
main .player-banner .me .edit-button:hover {
    background-color: #5c5c70;
}

main .player-banner .me div {
    display: block;
}

main .player-banner .me .contents {
    min-height: 240px;
    clear: both;
}

main .player-banner .me .contents .me-empty {
    text-align: center;
}

main .player-banner .me .contents .me-empty .nothing {
    font-size: 200%;
    font-weight: bold;
    line-height: 240px;
}

main .player-banner .me .contents .me-empty .edit-me {
    background-color: #3939ac;
    width: 180px;
    padding: 2px 0;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 150ms;
}
main .player-banner .me .contents .me-empty .edit-me:hover {
    background-color: #6666ff;
}

main .player-banner .me .contents .me-empty i {
    font-size: 800%;
    margin: 30px 0;
}

main .player-banner .me .contents .me-empty .description {
    font-size: 18px;
}

main .player-banner .me .contents .bbcode-profile {
    max-height: 500px;
    overflow-y: scroll;
    line-height: 1.5;
}
main .player-banner .me .contents .bbcode-profile::-webkit-scrollbar {
    width: 8px;
}
main .player-banner .me .contents .bbcode-profile::-webkit-scrollbar-track {
    background-color: #33333d;
}
main .player-banner .me .contents .bbcode-profile::-webkit-scrollbar-thumb {
    background-color: #99999e;
    border-radius: 2px;
}

main .player-banner .me .contents h2 {
    color: #b8b8e0;
    font-size: 1.5em;
    font-weight: 700;
    margin: 10px 0 0;
}

main .player-banner .me .contents a {
    color: #9b9bc9;
    transition: color 150ms, text-decoration 150ms;
}
main .player-banner .me .contents a:hover {
    color: #a4a4c7;
    text-decoration: underline;
}

main .player-banner .me .contents .user-link {
    font-weight: 700;
}

main .player-banner .me .contents img {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}

main .player-banner .me .contents .spoilerbox {
    display: block;
}

main .player-banner .me .contents .spoilerbox p {
    display: inline-block;
    font-weight: 700;
    color: #9b9bc9;
    width: max-content;
    max-width: 100%;
    text-align: left;
    white-space: wrap;
    overflow-wrap: anywhere;
    cursor: pointer;
    transition: color 150ms, text-decoration 150ms;
}
main .player-banner .me .contents .spoilerbox p:hover {
    color: #a4a4c7;
    text-decoration: underline;
}

main .player-banner .me .contents .spoilerbox p i {
    width: 20px;
}

main .player-banner .me .contents .spoilerbox div {
    display: none;
    color: #d1d1e5;
    padding-left: 20px;
    margin-top: 10px;
}

main .player-banner .me .contents .spoiler {
    background-color: #000 !important;
    color: #000 !important;
}

main .player-banner .me .contents ol {
    padding-left: 20px;
}

main .player-banner .me .contents blockquote {
    color: #d1d1e5;
    font-size: inherit;
    padding-left: 20px;
    border-left: 2px solid #eee
}

main .player-banner .me .contents blockquote h4 {
    font-size: inherit;
    font-weight: 700;
    margin: 0 0 10px;
}

main .player-banner .me .contents code {
    background-color: #22222a;
    font-family: "JetBrainsMono";
    padding: 1px 4px;
    border-radius: 4px;
}

main .player-banner .me .contents pre {
    background-color: #22222a;
    font-family: "JetBrainsMono";
    padding: 10px;
    border-radius: 4px;
    white-space: pre-wrap;
}

main .player-banner .me .contents form textarea {
    height: 500px;
    font-family: "JetBrainsMono";
    font-size: 16px;
    width: 100%;
    outline: none;
}
main .player-banner .me .contents form textarea::-webkit-scrollbar {
    width: 8px;
}
main .player-banner .me .contents form textarea::-webkit-scrollbar-track {
    background-color: #33333d;
}
main .player-banner .me .contents form textarea::-webkit-scrollbar-thumb {
    background-color: #99999e;
    border-radius: 2px;
}

main .player-banner .me .contents form .editor {
    display: flex;
}

main .player-banner .me .contents form .editor div {
    display: flex;
}

main .player-banner .me .contents form .editor .bb-button p {
    font-size: 18px;
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 150ms;
}
main .player-banner .me .contents form .editor .bb-button p:hover {
    background-color: #9494d1;
}

main .player-banner .me .contents form .editor .bb-button .size {
    background-color: #454554;
    padding: 0 5px;
    margin: 0 5px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

main .player-banner .me .contents form .editor .bb-button a {
    line-height: 30px;
}

main .player-banner .me .contents form .editor .edit {
    margin-top: auto;
    margin-bottom: 0;
    margin-left: auto;
}

main .player-banner .me .contents form .editor .edit p {
    line-height: 30px;
    padding: 0 15px;
    margin: 0 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 150ms;
}

main .player-banner .me .contents form .editor .edit .cancel, 
main .player-banner .me .contents form .editor .edit .preview,
main .player-banner .me .contents form .editor .edit .back-to-edit {
    background-color: #3399cc;
}
main .player-banner .me .contents form .editor .edit .cancel:hover, 
main .player-banner .me .contents form .editor .edit .preview:hover,
main .player-banner .me .contents form .editor .edit .back-to-edit:hover {
    background-color: #47b4eb;
}

main .player-banner .me .contents form .editor .edit .save {
    background-color: #80cc33;
}
main .player-banner .me .contents form .editor .edit .save:hover {
    background-color: #99eb47;
}
/* ------------------------------------------------- */
main .player-info {
    overflow: hidden;
}

main .player-info, main .player-info .wrap {
    display: flex;
}

main .player-info .ranking div {
    padding: 15px 30px;
}

main .player-info .ranking div h1 {
    font-size: 16px;
}

main .player-info .ranking div h2 {
    color: #d9d9ee;
    font-size: 32px;
    font-weight: bold;
}

main .player-info .detail div {
    padding: 25px 30px;
}

main .player-info .detail div h1 {
    font-size: 16px;
}

main .player-info .detail div h2 {
    color: #d9d9ee;
    font-size: 32px;
    font-weight: bold;
}

main .player-info .grade-amounts {
    font-size: 20px;
    padding: 0 40px;
}

main .player-info .grade-amounts div {
    font-weight: bold;
    padding: 15px 20px;
    text-align: center;
}

main .player-info div img {
    height: 45px;
    border-radius: 14px;
    box-shadow: 2px 2px 2px black;
}

main .player-info .stats {
    border-left: 1px solid #1c1719;
    padding-left: 30px;
    margin: auto 0 auto auto;
}

main .player-info .stats div {
    display: flex;
    font-size: 20px;
    padding: 8px 0;
}

main .player-info .stats div h1 {
    width: 170px;
    margin-right: 95px;
}

main .player-info .stats div h2 {
    font-weight: bold;
    min-width: 0;
    max-width: 200px;
    margin-right: 50px;
}
/* ------------------------------------------------- */
main .show-more {
    display: flex;
    background-color: #444453;
    font-size: 14px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
}
main .show-more:hover {
    background-color: #5b5b6f;
}

main .show-more i {
    margin: auto 5px;
}
/* ------------------------------------------------- */
main .bestpp {
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

main .bestpp h1 {
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
}

main .bestpp h1 i {
    margin: 0 5px;
}

main .bestpp div .wrap, main .bestpp div .pp {
    display: flex;
}

main .bestpp div .nothing {
    font-size: 35px;
    line-height: 300px;
    text-align: center;
}

main .bestpp div .data {
    position: relative;
    margin-top: 5px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 black;
    transition: transform 100ms;
}
main .bestpp div .data:hover {
    transform: scale(1.005);
}

main .bestpp div .mapbg {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.3;
}

main .bestpp div .grade {
    height: 45px;
    margin: 5px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px black;
    z-index: 1;
}

main .bestpp div .data a {
    padding-left: 3px;
    margin: auto 0;
    overflow: hidden;
    z-index: 1;
}

main .bestpp div .data a .title {
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main .bestpp div .data a .diff {
    color: #eca900;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main .bestpp div .data .mods {
    display: flex;
    max-width: 320px;
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    flex-wrap: nowrap;
    flex-shrink: 0;
    z-index: 1;
}

main .bestpp div .data .mods img {
    height: 35px;
    float: left;
}

main .bestpp div .data .acc {
    color: #ffcc22;
    font-weight: bold;
    width: 80px;
    margin: auto 0;
    text-align: center;
    z-index: 1;
}

main .bestpp div .data .pp {
    background-color: #393945;
    min-width: 180px;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
}

main .bestpp div .data .pp .recorded {
    color: #5656c1;
    font-size: 26px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

main .bestpp div .data .pp .recorded span {
    color: #8681a5;
}

main .bestpp div .data .pp .weighted {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}
/* ------------------------------------------------- */
main .mostplays {
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

main .mostplays h1 {
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
}

main .mostplays h1 i {
    margin: 0 5px;
}

main .mostplays div .nothing {
    font-size: 35px;
    line-height: 300px;
    text-align: center;
}

main .mostplays div .data {
    display: flex;
    margin-top: 5px;
    background-color: #444453;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 black;
    transition: background-color 100ms, transform 100ms;
}
main .mostplays div .data:hover {
    background-color: #5b5b6f;
    transform: scale(1.005);
}

main .mostplays div .data img {
    height: 55px;
    border-radius: 10px;
    object-fit: cover;
}

main .mostplays div .data a {
    width: calc(100% - 213px);
    padding-left: 5px;
    margin: auto 0;
}

main .mostplays div .data a .title {
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main .mostplays div .data a .mapper {
    color: #737386;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main .mostplays div .data a .mapper span {
    font-weight: bold;
}

main .mostplays div .data .mode-icon {
    font-size: 35px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

main .mostplays div .data div {
    display: flex;
    color: #ffcc22;
    width: 100px;
}

main .mostplays div .data div .play-icon {
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

main .mostplays div .data div .value {
    font-size: 26px;
    font-weight: bold;
    padding-left: 7px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}
/* ------------------------------------------------- */
main .recentplays {
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

main .recentplays h1 {
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
}

main .recentplays h1 i {
    margin: 0 5px;
}

main .recentplays .flex {
    display: flex;
}

main .recentplays .flex button {
    font-size:  18px;
    padding: 0 10px;
    filter: invert(30%);
    opacity: 0.95;
}
main .recentplays .flex button:hover {
    filter: invert(0%);
    opacity: 1;
}

main .recentplays .flex .all {
    margin-left: auto;
    margin-right: 0;
}

main .recentplays div .nothing, main .recentplays div .nothing-passed {
    font-size: 35px;
    line-height: 300px;
    text-align: center;
}

main .recentplays div .data, main .recentplays div .data-passed {
    display: flex;
    position: relative;
    margin-top: 5px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0 black;
    transition: transform 100ms;
}
main .recentplays div .data:hover, main .recentplays div .data-passed:hover {
    transform: scale(1.005);
}

main .box div .data-mobile, main .box div .data-mobile-passed {
    display: none;
}

main .recentplays div .mapbg {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.3;
}

main .recentplays div .grade {
    height: 45px;
    margin: 5px;
    border-radius: 16px;
    box-shadow: 2px 2px 2px black;
    z-index: 1;
}

main .recentplays div .data a, main .recentplays div .data-passed a {
    padding-left: 3px;
    margin: auto 0;
    overflow: hidden;
    z-index: 1;
}

main .recentplays div .data a .title, main .recentplays div .data-passed .title {
    font-size: 18px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main .recentplays div .data a .diff, main .recentplays div .data-passed a .diff {
    color: #eca900;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main .recentplays div .data .mods, main .recentplays div .data-passed .mods {
    display: flex;
    max-width: 325px;
    padding-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    flex-wrap: nowrap;
    flex-shrink: 0;
    z-index: 1;
}

main .recentplays div .data .mods img, main .recentplays div .data-passed .mods img {
    height: 35px;
}

main .recentplays div .data .acc, main .recentplays div .data-passed .acc {
    color: #ffcc22;
    font-weight: bold;
    width: 80px;
    margin: auto 0;
    text-align: center;
    z-index: 1;
}

main .recentplays div .data .pp, main .recentplays div .data-passed .pp {
    display: flex;
    background-color: #393945;
    width: 180px;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
}

main .recentplays div .data .pp .recorded, main .recentplays div .data-passed .pp .recorded {
    color: #5656c1;
    font-size: 26px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

main .recentplays div .data .pp .recorded span, main .recentplays div .data-passed .pp .recorded span {
    color: #8681a5;
}

main .recentplays div .data .pp .loved, main .recentplays div .data-passed .pp .loved {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

@media (max-width: 1232px) {
    main {
        padding-top: 30px;
        padding-bottom: 200px;
    }

    main .box {
        margin: 20px 30px;
    }
    /* ------------------------------------------------- */
    main .banner-box {
        height: 200px;
    }

    main .player-banner .me .contents form .editor {
        overflow: scroll;
    }

    main .player-info {
        overflow: scroll;
    }

    main .player-info .ranking div {
        padding: 15px 30px 15px 15px;
    }

    main .player-info .detail div {
        padding: 25px 30px 25px 15px;
    }

    main .player-info .grade-amounts {
        padding: 0 20px;
    }

    main .player-info .stats div h1 {
        margin-right: 75px;
    }

    main .player-info .stats div h2 {
        margin-right: 15px;
    }
}

@media (max-width: 767px) {
    body {
        min-width: 348px;
    }

    main {
        padding-bottom: 100px;
    }

    main .box {
        margin: 30px 5px;
    }

    main .box div .nothing, main .box div .nothing-passed {
        font-size: 26px;
    }

    main .box div .data, main .box div .data-passed {
        display: none;
    }

    main .box div .data-mobile, main .box div .data-mobile-passed {
        display: block;
    }

    main .banner-box {
        height: 125px;
        margin: 0 5px;
    }

    main .banner-box img {
        height: 125px
    }
    /* ------------------------------------------------- */
    main .player-banner {
        margin-top: 0;
    }

    main .player-banner .username .avatar {
        height: 60px;
        width: 60px;
        margin: 5px;
    }

    main .player-banner .username .badge {
        height: 18px;
        margin: auto 0;
    }

    main .player-banner .username h1 {
        font-size: 24px;
        max-width: 223px;
        padding: 0 3px 0 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    main .player-banner .username .edit {
        font-size: 16px;
        line-height: 30px;
    }

    main .player-banner .username .flag-icon {
        font-size: 16px;
        margin: 7px 3px;
    }

    main .player-banner .username .flex-box .aka {
        font-size: 12px;
        max-width: 182px;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    main .player-banner .username .flex-box .be-followed {
        font-size: 10px;
        margin: auto 2px;
    }

    main .player-banner .username #follow {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: 0;
    }

    main .player-banner .username .follow-btn {
        font-size: 16px;
        line-height: 34px;
        width: 34px;
    }

    main .player-banner .username .follow-btn .tooltip {
        display: none;
    }

    main .player-banner .relationship span {
        font-size: 12px;
        width: 80px;
        margin-left: 5px;
        margin-right: 5px;
    }

    main .player-banner .relationship .tooltip {
        width: 90px;
    }

    main .player-banner .relationship span i {
        margin-right: 10px;
    }

    main .player-banner .relationship .list .wrap {
        width: 370px;
    }

    main .player-banner .relationship .list .wrap h1 {
        font-size: 20px;
        width: 370px;
    }

    main .player-banner .relationship .list .wrap h1 .fa-xmark {
        font-size: 26px;
    }

    main .player-banner .relationship .list .data {
        width: 360px;
        margin-top: 8px;
    }

    main .player-banner .relationship .list .data img {
        height: 50px;
        width: 50px;
    }

    main .player-banner .relationship .list .data .name i {
        font-size: 14px;
    }

    main .player-banner .relationship .list .data .name p {
        font-size: 18px;
    }

    main .player-banner .player-status span {
        height: 10px;
        width: 10px;
        margin: auto 5px;
    }

    main .player-banner .player-status p {
        font-size: 14px;
    }

    main .player-banner .selection {
        margin-top: 5px;
    }

    main .player-banner .selection .special {
        font-size: 17px;
        margin: auto 5px;
    }

    main .player-banner .selection .special .menu-title {
        width: 135px;
    }
    
    main .player-banner .selection .special .dropdown {
        width: 135px;
    }

    main .player-banner .selection .set-favorite {
        display: none;
    }

    main .player-banner .selection .mode {
        margin-left: auto;
    }

    main .player-banner .selection .mode li {
        padding: 0 4px;
        margin: 0;
    }

    main .player-banner .selection .mode li a {
        font-size: 30px;
    }

    main .player-banner .selection .mode li .favorite {
        font-size: 16px;
        margin-left: 5px;
    }

    main .player-banner .me h1 {
        font-size: 18px;
    }

    main .player-banner .me .contents .bbcode-profile {
        max-height: 400px;
    }
    main .player-banner .me .contents .bbcode-profile::-webkit-scrollbar {
        display: none;
    }

    main .player-banner .me .contents .me-empty .nothing {
        font-size: 150%;
    }

    main .player-banner .me .contents .me-empty .edit-me {
        width: 160px;
    }
    
    main .player-banner .me .contents .me-empty i {
        font-size: 700%;
    }
    
    main .player-banner .me .contents .me-empty .description {
        font-size: 16px;
    }

    main .player-banner .me .contents form textarea {
        height: 400px;
    }
    main .player-banner .me .contents form textarea::-webkit-scrollbar {
        display: none;
    }

    main .player-banner .me .contents form .editor .bb-button p {
        font-size: 16px;
        border-radius: 15px;
    }

    main .player-banner .me .contents form .editor .bb-button .size {
        font-size: 14px;
    }

    main .player-banner .me .contents form .editor .bb-button a {
        font-size: 14px;
    }

    main .player-banner .me .contents form .editor .edit p {
        line-height: 30px;
        padding: 0 10px;
        margin: 0 5px;
        border-radius: 15px;
    }
    /* ------------------------------------------------- */
    main .player-info .ranking div {
        font-size: 14px;
        padding: 5px 30px 5px 5px;
    }

    main .player-info .ranking div h1 {
        font-size: 12px;
    }

    main .player-info .ranking div h2 {
        font-size: 26px;
    }

    main .player-info .detail div {
        padding: 15px 30px 15px 5px;
    }

    main .player-info .detail div h1 {
        font-size: 12px;
    }

    main .player-info .detail div h2 {
        font-size: 26px;
    }

    main .player-info .grade-amounts {
        font-size: 16px;
        padding: 5px;
    }

    main .player-info .grade-amounts div {
        padding: 15px;
    }

    main .player-info div img {
        height: 40px;
    }

    main .player-info .stats {
        padding-left: 20px;
    }

    main .player-info .stats div {
        font-size: 16px;
        padding: 5px 0;
    }

    main .player-info .stats div h1 {
        margin-right: 30px;
    }

    main .player-info .stats div h2 {
        margin-right: 5px;
    }
    /* ------------------------------------------------- */
    main .bestpp h1 {
        font-size: 18px;
        line-height: 30px;
    }

    main .bestpp div .nothing {
        line-height: 417px;
    }

    main .bestpp div .data-mobile {
        margin-bottom: 5px;
        background-color: #393945;
        border-radius: 10px;
        box-shadow: 3px 3px 3px black;
    }

    main .bestpp div .data-mobile .flex {
        display: flex;
    }

    main .bestpp div .data-mobile .info {
        position: relative;
        background-color: #000000;
        flex-wrap: wrap;
        flex-shrink: unset;
        border-radius: 10px;
        transition: transform 100ms;
    }
    main .bestpp div .data-mobile .info:hover {
        transform: scale(1.005);
    }

    main .bestpp div .data-mobile .info .mapbg {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        opacity: 0.3;
    }

    main .bestpp div .data-mobile .info .grade {
        height: 40px;
        z-index: 1;
    }

    main .bestpp div .data-mobile .info a {
        width: calc(100% - 50px);
        margin: auto 0;
        z-index: 1;
    }

    main .bestpp div .data-mobile .info a .title {
        font-size: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    main .bestpp div .data-mobile .info a .diff {
        color: #eca900;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    main .bestpp div .data-mobile .info .mods {
        width: calc(100% - 10px);
        display: flex;
        padding-left: 10px;
        padding-bottom: 3px;
        overflow: scroll;
        z-index: 1;
    }

    main .bestpp div .data-mobile .info .mods img {
        height: 30px;
    }

    main .bestpp div .data-mobile .results {
        font-size: 14px;
        padding: 5px 10px;
    }

    main .bestpp div .data-mobile .results .acc {
        color: #ffcc22;
    }

    main .bestpp div .data-mobile .results .recorded {
        color: #5656c1;
        font-size: 16px;
        margin-left: auto;
    }

    main .bestpp div .data-mobile .results .recorded span {
        color: #8681a5;
    }

    main .bestpp div .data-mobile .results .weighted {
        font-size: 12px;
        margin: auto 0;
    }
    /* ------------------------------------------------- */
    main .mostplays {
        min-height: 330px;
        max-height: 330px;
    }

    main .mostplays h1 {
        font-size: 18px;
        line-height: 30px;
    }

    main .mostplays div .nothing {
        line-height: 295px;
    }

    main .mostplays div .data-mobile {
        display: flex;
        margin-bottom: 5px;
        background-color: #444453;
        border-radius: 10px;
        box-shadow: 3px 3px 3px 0 black;
        transition: background-color 100ms, transform 100ms;
    }
    main .mostplays div .data-mobile:hover {
        background-color: #5b5b6f;
        transform: scale(1.005);
    }

    main .mostplays div .data-mobile .mapbg {
        position: relative;
        background-color: #000000;
        height: 54px;
        width: 72px;
        border-radius: 10px;
    }

    main .mostplays div .data-mobile .mapbg img {
        position: absolute;
        height: 54px;
        border-radius: 10px;
        opacity: 0.3;
    }

    main .mostplays div .data-mobile .mapbg div {
        position: relative;
        display: flex;
        color: #ffcc22;
        height: 54px;
        width: 72px;
        z-index: 10;
    }

    main .mostplays div .data-mobile .mapbg div .play-icon {
        font-size: 16px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }

    main .mostplays div .data-mobile .mapbg div .value {
        font-size: 22px;
        padding-left: 5px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
    }

    main .mostplays div .data-mobile a {
        width: 100%;
        padding-left: 3px;
        margin: auto 0;
        overflow: hidden;
    }

    main .mostplays div .data-mobile a .title {
        font-size: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    main .mostplays div .data-mobile a .mapper {
        color: #737386;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    main .mostplays div .data-mobile a .mapper span {
        font-weight: bold;
    }

    main .mostplays div .data-mobile .mode-icon {
        font-size: 30px;
        margin: auto 3px;
    }
    /* ------------------------------------------------- */
    main .recentplays h1 {
        font-size: 18px;
        line-height: 30px;
    }

    main .recentplays .flex button {
        font-size: 16px;
        padding: 0 8px;
        filter: invert(30%);
        opacity: 0.95;
    }

    main .recentplays div .nothing, main .recentplays div .nothing-passed {
        line-height: 417px;
    }

    main .recentplays div .data-mobile, main .recentplays div .data-mobile-passed {
        margin-bottom: 5px;
        background-color: #393945;
        border-radius: 10px;
        box-shadow: 3px 3px 3px black;
    }

    main .recentplays div .data-mobile .flex, main .recentplays div .data-mobile-passed .flex {
        display: flex;
    }

    main .recentplays .flex button {
	font-size: 16px;
    }


    main .recentplays div .data-mobile .info, main .recentplays div .data-mobile-passed .info {
        position: relative;
        background-color: #000000;
        flex-wrap: wrap;
        flex-shrink: unset;
        border-radius: 10px;
        transition: transform 100ms;
    }
    main .recentplays div .data-mobile .info:hover, main .recentplays div .data-mobile-passed .info:hover {
        transform: scale(1.005);
    }

    main .recentplays div .data-mobile .info .mapbg, main .recentplays div .data-mobile-passed .info .mapbg {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        opacity: 0.3;
    }

    main .recentplays div .data-mobile .info .grade, main .recentplays div .data-mobile-passed .info .grade {
        height: 40px;
        z-index: 1;
    }

    main .recentplays div .data-mobile .info a, main .recentplays div .data-mobile-passed .info a {
        width: calc(100% - 50px);
        margin: auto 0;
        z-index: 1;
    }

    main .recentplays div .data-mobile .info a .title, main .recentplays div .data-mobile-passed .info a .title {
        font-size: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    main .recentplays div .data-mobile .info a .diff, main .recentplays div .data-mobile-passed .info a .diff {
        color: #eca900;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    main .recentplays div .data-mobile .info .mods, main .recentplays div .data-mobile-passed .info .mods {
        width: calc(100% - 10px);
        display: flex;
        padding-left: 10px;
        padding-bottom: 3px;
        overflow: scroll;
        z-index: 1;
    }

    main .recentplays div .data-mobile .info .mods img, main .recentplays div .data-mobile-passed .info .mods img {
        height: 30px;
    }

    main .recentplays div .data-mobile .results, main .recentplays div .data-mobile-passed .results {
        font-size: 14px;
        padding: 5px 10px;
    }

    main .recentplays div .data-mobile .results .acc, main .recentplays div .data-mobile-passed .results .acc {
        color: #ffcc22;
    }

    main .recentplays div .data-mobile .results .recorded, main .recentplays div .data-mobile-passed .results .recorded {
        color: #5656c1;
        font-size: 16px;
        margin-left: auto;
    }

    main .recentplays div .data-mobile .results .recorded span, main .recentplays div .data-mobile-passed .results .recorded span {
        color: #8681a5;
    }

    main .recentplays div .data-mobile .results .weighted, main .recentplays div .data-mobile-passed .results .weighted {
        font-size: 12px;
        margin: auto 0;
    }
}
