body {
    min-width: 1200px;
}
/* ------------------------------------------------- */
.info-title {
    font-family: "Caveat";
    font-size: 40px;
    font-weight: bold;
    margin-left: 12.8%;
}

.main {
    font-family: "Righteous";
    background-color: aqua;
    height: 9000px;
}
/* ------------------------------------------------- */
.player-banner {
    position: absolute;
    background-color: white;
    top: 150px;
    padding-top: 10px;
    margin-left: 12.8%;
    height: 100px;
    width: 73%;
    min-width: 1030px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.flag-icon {
    height: 24px;
    width: 32px;
    bottom: 12px;
    margin-left: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.name {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 5px;
}

.player-banner span img {
    width: 50px;
    float: right;
    filter: invert(50%);
    margin: 35px 1% 0 1%;
    opacity: 95%;
}

.player-banner span img:hover {
    filter: invert(100%);
    opacity: 100%;
}
/* ------------------------------------------------- */
.player-info {
    position: absolute;
    background-color: white;
    top: 270px;
    padding-top: 15px;
    padding-left: 20px;
    margin-left: 12.8%;
    height: 290px;
    width: 73%;
    min-width: 1030px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
/* ------------------------------------------------- */
.stats div {
    position: relative;
}

.stats div .title {
    font-size: 16px;
}

.stats div .value {
    font-size: 32px;
    color: orangered;
}

.country-ranking {
    bottom: 56px;
    padding-left: 150px;
}

.pp {
    bottom: 55px;
    padding-left: 12%;
}

.playtime {
    bottom: 110px;
    padding-left: 24%;
}

.grade-amounts {
    display: flex;
    bottom: 80px;
    padding-bottom: -1000px;
}

.grade-amounts div {
    text-align: center;
    margin: 0 2%;
}

.grade-amounts div img {
    height: 45px;
    width: 45px;
    background-color: rgba(199, 21, 133, 0.5);
    border-radius: 10px;
}

.grade-amounts div .value {
    font-size: 20px;
    color: midnightblue;
}
/* ------------------------------------------------- */
.scores {
    position: relative;
    bottom: 338px;
    padding-left: 2%;
    margin-left: 60%;
    border-left: 0.6mm solid dimgray;
}

.scores .title {
    float: left;
    font-size: 20px;
}

.scores .title span {
    display: flex;
    padding: 6px 0;
}

.scores .value {
    position: relative;
    font-size: 20px;
    left: 100px;
}

.scores .value span {
    display: flex;
    padding: 6px 0;
}
/* ------------------------------------------------- */
.bestpp-list {
    position: absolute;
    background-color: white;
    top: 580px;
    margin-left: 12.8%;
    width: 73%;
    min-width: 1030px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.bestpp-list .list {
    height: 60px;
    line-height: 30px;
    margin: 5px;
    background-color: pink;
    border-radius: 10px;
}
.bestpp-list .list:hover {
    background-color: rgba(255, 192, 203, 0.8);
}

.bestpp-list .list .grade {
    position: relative;
    height: 45px;
    width: 45px;
    top: 7px;
    margin-left: 7px;
    background-color: rgba(199, 21, 133, 0.4);
    border-radius: 10px;
}

.bestpp-list .list .map-info {
    padding-left: 10px;
}

.bestpp-list .list .map-info .title {
    position: relative;
    left: 50px;
    bottom: 43px;
    display: flex;
    font-size: 18px;
}

.bestpp-list .list .map-info .diff {
    position: relative;
    left: 50px;
    bottom: 45px;
    font-size: 14px;
}

.bestpp-list .list .scores {
    font-family: "Ubuntu";
    font-weight: bold;
    position: relative;
    bottom: 90px;
}

.bestpp-list .list .mods {
    width: 270px;
}

.bestpp-list .list .mods img {
    position: relative;
    height: 40px;
    width: 40px;
    bottom: 5px;
    float: right;
}

.bestpp-list .list .acc {
    float: right;
    width: 100px;
    text-align: center;
}

.bestpp-list .list .pp {
    float: right;
}

.bestpp-list .list .pp-recorded {
    float: right;
    font-size: 26px;
    width: 70px;
    max-width: 500px;
    text-align: center;
}

.bestpp-list .list .pp-weighted {
    float: right;
    width: 70px;
    max-width: 500px;
    text-align: center;
}