body {
    min-width: 1200px;
}
/* ------------------------------------------------- */
.home-text {
    border-bottom: 3px solid #8c66ff;
}
/* ------------------------------------------------- */
.main {
    background-color: #221f2e;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.welcome-title {
    font-family: "Gloria Hallelujah";
    font-size: 84px;
    color: #fdfdfd;
    text-align: center;
}

.welcome-title h1 .bold {
    font-weight: bold;
}
