.header {
    background-color: #3986ac;
}

.header .menu div:hover, .header .menu button:hover {
    background-color: #66ccff;
}

.footer {
    background-color: #22282a;
}

.link-form a {
    background-color: #3986ac;
}
.link-form a:hover {
    background-color: #4497c0;
}

.button {
    background-color: #3986ac;
}
.button:hover {
    background-color: #4497c0;
}