.header {
    background-color: #3986ac;
}

.menu div:hover, .menu button:hover {
    background-color: #66ccff;
}

.footer {
    background-color: #22282a;
}

.button {
    background-color: #3986ac;
}
.button:hover {
    background-color: #4497c0;
}