body::-webkit-scrollbar-track {
    background-color: #fdfdfd;
}
body::-webkit-scrollbar-thumb {
    background-color: #2e3538;
}

.standard {
    background-color: #3986ac;
}

.standard .menu div:hover, .standard .menu button:hover {
    background-color: #66ccff;
}

.standard .beatmaps-text {
    border-bottom: 3px solid #65cafd;
}

.mobile {
    background-color: #22282a;
}

.mobile .menu li:hover {
    background-color: rgba(102, 204, 255, 0.3);
}

.mobile .menu .login, .mobile .menu .register, .mobile .menu .playername {
    background-color: #29363d;
    color: #79bdd1
}
.mobile .menu .login:hover, .mobile .menu .register:hover, .mobile .menu .playername:hover {
    background-color: #29363d;
}

footer {
    background-color: #22282a;
}

.link-form a {
    background-color: #3986ac;
}
.link-form a:hover {
    background-color: #4497c0;
}