body::-webkit-scrollbar-track {
    background-color: #fdfdfd;
}
body::-webkit-scrollbar-thumb {
    background-color: #3d3829;
}

.standard {
    background-color: #ac8f39;
}

.standard .menu div:hover, .standard .menu button:hover {
    background-color: #ffd966;
}

.standard .documents-text {
    border-bottom: 3px solid #ffd966;
}

.mobile {
    background-color: #2a2822;
}

.mobile .menu .documents {
    background-color: rgba(255, 217, 102, 0.3);
    color: #fdfdfd;
}

.mobile .menu .documents .border {
    border-left: 3px solid #ffd966;
}

.mobile .menu li:hover {
    background-color: rgba(255, 217, 102, 0.3);
}

.mobile .menu .login, .mobile .menu .register, .mobile .menu .playername {
    background-color: #3d3829;
    color: #d1c27c;
}
.mobile .menu .login:hover, .mobile .menu .register:hover, .mobile .menu .playername:hover {
    background-color: #3d3829;
}

footer {
    background-color: #000000;
}

.link-form a {
    background-color: #ac8f39;
}
.link-form a:hover {
    background-color: #debc54;
}