.header {
    background-color: #ac8f39;
}

.header .menu div:hover, .header .menu button:hover {
    background-color: #ffd966;
}

.footer {
    background-color: #2a2822;
}

.link-form a {
    background-color: #ac8f39;
}
.link-form a:hover {
    background-color: #debc54;
}

.button {
    background-color: #ac8f39;
}
.button:hover {
    background-color: #debc54;
}