.standard {
    background-color: #ac8f39;
}

.standard .menu div:hover, .standard .menu button:hover {
    background-color: #ffd966;
}

.standard .help-text {
    border-bottom: 3px solid #ffd966;
}

.mobile {
    background-color: #2a2822;
}

.mobile .menu .help {
    background-color: rgba(255, 217, 102, 0.3);
    color: #fdfdfd;
}

.mobile .menu .help .border {
    border-left: 3px solid #ffd966;
}

.mobile .menu li:hover {
    background-color: rgba(255, 217, 102, 0.3);
}

.mobile .menu .login, .mobile .menu .playername {
    background-color: #3d3829;
    color: #d1c27c;
}
.mobile .menu .login:hover, .mobile .menu .playername:hover {
    background-color: #3d3829;
}

footer {
    background-color: #2a2822;
}

.link-form a {
    background-color: #ac8f39;
}
.link-form a:hover {
    background-color: #debc54;
}

.button {
    background-color: #ac8f39;
}
.button:hover {
    background-color: #debc54;
}