.header {
    background-color: #5639ac;
}

.header .menu div:hover, .header .menu button:hover {
    background-color: #8c66ff;
}

.footer {
    background-color: #24222a;
}

.link-form a {
    background-color: #5639ac;
}
.link-form a:hover {
    background-color: #6f55bc;
}

.button {
    background-color: #5639ac;
}
.button:hover {
    background-color: #6f55bc;
}