body::-webkit-scrollbar-track {
    background-color: #fdfdfd;
}
body::-webkit-scrollbar-thumb {
    background-color: #2e293d;
}

.standard {
    background-color: #345c84;
}

.standard .menu div:hover, .standard .menu button:hover {
    background-color: #6495ED;
}

.mobile {
    background-color: #24222a;
}

.mobile .menu .home {
    background-color: rgba(140, 102, 255, 0.3);
    color: #fdfdfd;
}

.mobile .menu .home .border {
    border-left: 3px solid #8c66ff;
}

.mobile .menu li:hover {
    background-color: rgba(140, 102, 255, 0.3);
}

.mobile .menu .login, .mobile .menu .register, .mobile .menu .playername {
    background-color: #2e293d;
    color: #a394be;
}
.mobile .menu .login:hover, .mobile .menu .register:hover, .mobile .menu .playername:hover {
    background-color: #2e293d;
}

footer {
    background-color: #000000;
}

.link-form a {
    background-color: #5639ac;
}
.link-form a:hover {
    background-color: #6f55bc;
}