.header {
    background-color: #5639ac;
}

.header .menu div:hover, .header .menu button:hover {
    background-color: #8c66ff;
}

.header .home-text {
    border-bottom: 3px solid #8c66ff;
}

.header-mobile {
    background-color: #24222a;
}

.header-mobile .menu .home {
    background-color: rgba(140, 102, 255, 0.3);
    color: #fdfdfd;
}

.header-mobile .menu .home .border {
    border-left: 3px solid #8c66ff;
}

.header-mobile .menu li:hover {
    background-color: rgba(140, 102, 255, 0.3);
}

.header-mobile .menu .login, .header-mobile .menu .playername {
    background-color: #2e293d;
    color: #a394be;
}
.header-mobile .menu .login:hover, .header-mobile .menu .playername:hover {
    background-color: #2e293d;
}

.footer {
    background-color: #24222a;
}

.link-form a {
    background-color: #5639ac;
}
.link-form a:hover {
    background-color: #6f55bc;
}

.button {
    background-color: #5639ac;
}
.button:hover {
    background-color: #6f55bc;
}