body::-webkit-scrollbar-track {
    background-color: #fdfdfd;
}
body::-webkit-scrollbar-thumb {
    background-color: #2e293d;
}

.standard {
    background-color: #345c84;
}

.standard .menu div:hover, .standard .menu button:hover {
    background-color: #6495ED;
}

.mobile {
    background-color: #24222a;
}

.mobile .menu li:hover {
    background-color: #4169E1
}


.mobile .menu .login, .mobile .menu .register, .mobile .menu .playername {
    background-color: #35364d;
    color: #6495ED;
}

.mobile .menu .login:hover, .mobile .menu .register:hover, .mobile .menu .playername:hover {
    background-color: #35364d;
}


footer {
    background-color: #000000;
}

.link-form a {
    background-color: #345c84;
}
.link-form a:hover {
    background-color: #6495ED;
}